TODO ajouter link en fonction du case

<% if trip.gestion.status == 'new' %>
  <h3 class="title">Réserver mon trip !</h3>
  <p>Votre trip vous semble parfait ? Ok alors réservons le !</p>
  <p>Nos équipes organiseront votre voyages selon vos préférences.
    Une fois validé vous pourrez procéder au paiment.</p><br>
    <p><%= link_to "Book it!", trip_gestion_path(trip, trip.gestion, :status => :pending ),
                              :method => :put, class: 'btn btn-default btn-lg' %></p>
                              <p>
                                <%= link_to "Modifier mon voyage", edit_trip_path(@trip),  class: "btn btn-block btn-warning" %>
                                <%= link_to "Supprimer mon voyage", trip_path(@trip), method: :delete,
                                             data: {confirm: "Delete this trip ?"}, class: "btn btn-block btn-danger" %>
                              </p>

<% elsif trip.gestion.status == 'pending' %>
    <h3 class="title">En cours..</h3>
    <p>Votre voyage est en ce moment organisé par nos équipes.</p>
    <p>Un peu de patience et votre voyage sera bientôt prêt. :)</p>


<% elsif trip.gestion.status == 'approved' %>
    <h3 class="title">Votre voyage est pret !</h3>
    <p>Votre voyage est pret, merci de votre patience. :)</p>
    <p>Ci-dessous blabla le lien pour payer :</p>
    <div>
      <%= form_tag charges_path do %>
        <% if flash[:error].present? %>
         <div id="error_explanation"><p><%= flash[:error] %></p></div>
        <% end %>
        <%= hidden_field_tag :trip_id, trip.id %>
        <label class="amount">
          <span>Amount: $10.00 /TODO change price here and in script below with trip.price</span>
        </label>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="A trip payment"
        data-amount="1000" data-locale="auto" data-name="Stripe.com"
        data-description="Widget" data-zip-code="true"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
      </script>
    <% end %>
   </div>

<% elsif trip.gestion.status == 'payed' %>
   <h3 class="title">Voyage payé et confirmé. :)</h3>
      <p>Merci. Votre voyage est maintenant payé. Nos équipes finalisent votre
      voyage. Vous recevrez sous peu tous les détails nécessaires.</p>

<% elsif trip.gestion.status == 'final' %>
   <h3 class="title">Nous vous attendons. :)</h3>
   <p>Votre voyage est prêt. Nous vous attendons avec impatience à Tokyo.
      A bientot !</p>
    <p>Encore XXXX jours avant votre voyage.</p>

<% elsif trip.gestion.status == 'done' %>
  <h4>Voyage terminé.</h4>
  <p>Comment s'est passé votre voyage ? Laissez nous un commentaire ici :</p>
  <%= link_to "Feedback", '#' %>
<% else %>
  <h1>DEBUG SHOULD NOT APPEAR - Status was not implemented</h1>
  <p><%= trip.gestion.inspect %></p>
<% end %>
