<% if trip.gestion.status == 'new' %>
  <p class="tb-padding"></p>
  <a href = "<%= new_trip_day_path(trip) %>", class="btn btn-block btn-success">
      <span><i class="fa fa-plus"></i></span> Nouvelle journée</a>
  <%= link_to "Réserver mon voyage", "#booking", class: 'btn btn-block btn-success' %>
  <%= link_to "Modifier mon voyage", edit_trip_path(@trip),  class: "btn btn-block btn-warning" %>
  <%= link_to "Supprimer mon voyage", trip_path(@trip), method: :delete,
                                    data: {confirm: "Delete this trip ?"}, class: "btn btn-block btn-danger" %>


<% elsif trip.gestion.status == 'pending' %>
  <p class="tb-padding"></p>
  <div class="alert alert-success">
    <i class="fa fa-check"></i> Voyage réservé !
  </div>
  <div class="wrapper text-left"><i class="fa fa-info-circle"></i> Votre voyage est en ce moment organisé et validé par nos équipes.
   Vous pourrez confirmer et payer votre voyage très bientôt.
  </div>


<% elsif trip.gestion.status == 'approved' %>
<p class="tb-padding"></p>
<div class="alert alert-success">
  <i class="fa fa-check"></i> Tout est prêt ! Vous pouvez confirmer et payer votre voyage.
</div>
<%= link_to "Payer mon voyage", '#booking', class: 'btn btn-block btn-success' %>


<% elsif trip.gestion.status == 'payed' %>
<p class="tb-padding"></p>
<div class="alert alert-success">
  <i class="fa fa-check"></i> Voyage réservé et payé !
</div>
<div class="wrapper text-left"><i class="fa fa-info-circle"></i> Merci pour votre confiance ! Votre voyage est prêt,
 vous recevrez prochainement les détails de votre voyage et votre guide-livret.
</div>

<% elsif trip.gestion.status == 'final' %>
<p class="tb-padding"></p>
<div class="alert alert-success">
  <i class="fa fa-check"></i> Votre programme est prêt !
</div>
<div class="wrapper text-left"><i class="fa fa-info-circle"></i> Votre guide-livret est disponible.
  <%= link_to "Voir mon livret", livret_path(trip.livret), class: 'show-livret' %>
</div>

<% elsif trip.gestion.status == 'done' %>
<p class="tb-padding"></p>
<div class="alert alert-success">
  <i class="fa fa-check"></i> Nous espèrons vous revoir bientôt !
</div>


<% else %>
  <h1>DEBUG SHOULD NOT APPEAR - Status was not implemented</h1>
  <p><%= trip.gestion.inspect %></p>
<% end %>
