<% if trip.gestion.status == 'new' %>
  <div class="row bottom-space">
    <div class="box"><div class="icon"><div class="image"><i class="fa fa-calendar"></i></div></div></div>
    <h2>Réserver mon voyage</h3>
    <p>Votre voyage est prêt ? Tout est comme vous le souhaitez ? Cliquez sur le bouton "Réserver mon voyage" pour finaliser
    votre réservation. Nos équipes organiseront votre voyage et vous pourrez ensuite procéder au paiement sécurisé.</p>
  </div>
  <div class="row bottom-space">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <span class="alert alert-warning"><i class="fa fa-exclamation-circle"></i><strong> Vous ne pourrez plus modifier votre voyage ensuite !</strong></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <%= link_to "Réserver mon voyage", trip_gestion_path(trip, trip.gestion, :status => :pending ),
                  :method => :put, data: {confirm: "Vous ne pourrez plus modifier ce voyage. Réserver ?"}, class: 'btn btn-block btn-success btn-lg' %>
    </div>
  </div>

<% elsif trip.gestion.status == 'pending' %>
  <div class="row bottom-space">
    <div class="box"><div class="icon"><div class="image"><i class="fa fa-calendar"></i></div></div></div>
    <h2 class="title">En préparation</h3>
    <p>Nous avons bien reçu votre réservation. Votre voyage est en ce moment organisé par nos équipes. Nous organisons
    et préparons votre voyage sur mesure selon vos options personnelles. Dès que tout est prèt vous pourrez finaliser
    votre réservation en procédant au paiement.</p>
  </div>



<% elsif trip.gestion.status == 'approved' %>
   <div class="row bottom-space">
     <div class="box"><div class="icon"><div class="image"><i class="fa fa-calendar"></i></div></div></div>
     <h2>Paiement</h2>
     <p><strong>Votre voyage est prêt !</strong> Vous pouvez procéder au paiement en cliquant sur le bouton ci-dessous.
       Et ensuite ? Tout est prêt, vous pouvez préparer vos valises. :)</p>
   </div>
    <div class="row">
      <%= form_tag charges_path do %>
        <% if flash[:error].present? %>
         <div id="error_explanation"><p><%= flash[:error] %></p></div>
        <% end %>
        <%= hidden_field_tag :trip_id, trip.id %>
        <label class="amount">
          <span>Amount: $10.00 /TODO change price here and in script below with trip.price</span>
        </label>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="A trip payment"
        data-amount="1000" data-locale="auto" data-name="Stripe.com"
        data-description="Widget" data-zip-code="true"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
      </script>
    <% end %>
   </div>

<% elsif trip.gestion.status == 'payed' || trip.gestion.status == 'final' %>
<div class="row bottom-space">
  <div class="box"><div class="icon"><div class="image"><i class="fa fa-calendar"></i></div></div></div>
  <h2>Confirmé</h2>
  <p><strong>Votre voyage est prêt !</strong> Nous vous attendons le INPUT FIRSTDAY DATE pour vos vacances personalisé à Tokyo.</p>
  <p>Encore XXXX jours avant votre voyage.</p>
</div>

<% elsif trip.gestion.status == 'done' %>
<div class="row bottom-space">
  <div class="box"><div class="icon"><div class="image"><i class="fa fa-calendar"></i></div></div></div>
  <h2>Voyage terminé</h2>
  <p>Comment s'est passé votre voyage ? Laissez nous un commentaire ici :</p>
  <%= link_to "Feedback", '#' %>
</div>
<% else %>
<div class="row bottom-space">
  <div class="box"><div class="icon"><div class="image"><i class="fa fa-calendar"></i></div></div></div>
  <h2>Oups, quelque chose ne va pas...</h2>
</div>
<% end %>
