<div>
  <% if trip.gestion.status == 'new' %>
    <h4>Your trip is in contruction :</h4>
    <p>You can freely make any change to it. When you are ready, choose your date
    and book it !</p>
    <%= link_to "Book my trip !", trip_gestion_path(trip, trip.gestion, :status => :pending ), :method => :put %>


  <% elsif trip.gestion.status == 'pending' %>
    <h4>Pending status :</h4>
    <p>You have succesfully booked your trip. Our team are reviewing any details.
    You'll be soon able to pay</p>


  <% elsif trip.gestion.status == 'approved' %>
    <h4>Waiting for payment :</h4>
    <p>Your trip has been approved, please proceed to payment.</p>
    <div>
      <%= form_tag charges_path do %>
        <% if flash[:error].present? %>
         <div id="error_explanation"><p><%= flash[:error] %></p></div>
        <% end %>
        <%= hidden_field_tag :trip_id, trip.id %>
        <label class="amount">
          <span>Amount: $10.00 /TODO change price here and in script below with trip.price</span>
        </label>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="A trip payment"
        data-amount="1000" data-locale="auto" data-name="Stripe.com"
        data-description="Widget" data-zip-code="true"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
      </script>
    <% end %></div>


  <% elsif trip.gestion.status == 'payed' %>
    <h4>Trip is payed</h4>
      <p>Your payment was accepted, our team is now booking anything needed.
        You'll soon receive all details about your trip</p>

  <% elsif trip.gestion.status == 'confirmed' %>
   <h4>Trip has been confirmed </h4>
   <p>Your trip is ready. Please wait until <%= trip.date %> to enjoy !</p>

  <% elsif trip.gestion.status == 'done' %>
  <h4>Trip over</h4>
  <p>How was your trip ? Leave us feeback here :</p>
  <%= link_to "Feedback", '#' %>
  <% else %>
  <h1>DEBUG SHOULD NOT APPEAR - Status was not implemented</h1>
  <p><%= trip.gestion.inspect %></p>
  <% end %>
</div>
