<% if trip.gestion.status == 'new' %>
  <div class="row bottom-space">
    <div class="box"><div class="icon"><div class="image"><i class="fa fa-calendar"></i></div></div></div>
    <h2>Réserver mon voyage</h3>
    <p>Votre voyage est prêt ? Tout est comme vous le souhaitez ? Cliquez sur le bouton "Réserver mon voyage" pour finaliser
    votre réservation. Nos équipes organiseront votre voyage et vous pourrez ensuite procéder au paiement sécurisé.</p>
  </div>
  <div class="row bottom-space">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <span class="alert alert-warning"><i class="fa fa-exclamation-circle"></i><strong> Vous ne pourrez plus modifier votre voyage ensuite !</strong></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <%= link_to "Réserver mon voyage", trip_gestion_path(trip, trip.gestion, :status => :pending ),
                  :method => :put, data: {confirm: "Vous ne pourrez plus modifier ce voyage. Réserver ?"}, class: 'btn btn-block btn-success btn-lg' %>
    </div>
  </div>

<% elsif trip.gestion.status == 'pending' %>
    <h3 class="title">En cours..</h3>
    <p>Votre voyage est en ce moment organisé par nos équipes.</p>
    <p>Un peu de patience et votre voyage sera bientôt prêt. :)</p>


<% elsif trip.gestion.status == 'approved' %>
    <h3 class="title">Votre voyage est pret !</h3>
    <p>Votre voyage est pret, merci de votre patience. :)</p>
    <p>Ci-dessous blabla le lien pour payer :</p>
    <div>
      <%= form_tag charges_path do %>
        <% if flash[:error].present? %>
         <div id="error_explanation"><p><%= flash[:error] %></p></div>
        <% end %>
        <%= hidden_field_tag :trip_id, trip.id %>
        <label class="amount">
          <span>Amount: $10.00 /TODO change price here and in script below with trip.price</span>
        </label>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="A trip payment"
        data-amount="1000" data-locale="auto" data-name="Stripe.com"
        data-description="Widget" data-zip-code="true"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
      </script>
    <% end %>
   </div>

<% elsif trip.gestion.status == 'payed' %>
   <h3 class="title">Voyage payé et confirmé. :)</h3>
      <p>Merci. Votre voyage est maintenant payé. Nos équipes finalisent votre
      voyage. Vous recevrez sous peu tous les détails nécessaires.</p>

<% elsif trip.gestion.status == 'final' %>
   <h3 class="title">Nous vous attendons. :)</h3>
   <p>Votre voyage est prêt. Nous vous attendons avec impatience à Tokyo.
      A bientot !</p>
    <p>Encore XXXX jours avant votre voyage.</p>

<% elsif trip.gestion.status == 'done' %>
  <h4>Voyage terminé.</h4>
  <p>Comment s'est passé votre voyage ? Laissez nous un commentaire ici :</p>
  <%= link_to "Feedback", '#' %>
<% else %>
  <h1>DEBUG SHOULD NOT APPEAR - Status was not implemented</h1>
  <p><%= trip.gestion.inspect %></p>
<% end %>
