<% if trip.gestion.status == 'new' %>
  <hr>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <a href = "<%= new_trip_day_path(trip) %>", class="btn btn-block btn-success">
          <span><i class="fa fa-plus"></i></span> Nouvelle journée</a>
        <%= link_to "Réserver mon voyage", "#booking", class: 'btn btn-block btn-success' %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to "Modifier mon voyage", edit_trip_path(@trip),  class: "btn btn-block btn-warning" %>
      <%= link_to "Supprimer mon voyage", trip_path(@trip), method: :delete,
                                                   data: {confirm: "Delete this trip ?"}, class: "btn btn-block btn-danger" %>
    </div>
  </div>
  <hr>

<% elsif trip.gestion.status == 'pending' %>
  <div class="row bottom-space">
  </div>
  <hr>
  <div class="row">
      <div class="alert alert-success">
        <span><i class="fa fa-check"></i></span>Ce voyage a été réservé !
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default text-left little-padding">Ce voyage est en ce moment organisé et vérifié par nos équipes.
      Merci de votre patience. Votre voyage sera bientôt prêt.</div>
    </div>
    <hr>

<% elsif trip.gestion.status == 'approved' %>
  <div class="row bottom-space">
  </div>
  <hr>
  <div class="row">
    <div class="alert alert-success">
      <i class="fa fa-check"></i>
      <strong>Votre voyage est prêt !</strong> Vous pouvez procéder au paiement pour finaliser votre réservation.
    </div>
    <div class="col-sm-10 col-sm-offset-1">
      <%= link_to "Payer mon voyage", '#paiement', class: 'btn btn-block btn-success' %>
    </div>
  </div>


<% elsif trip.gestion.status == 'payed' %>
  <div class="row bottom-space">
  </div>
  <hr>
  <div class="row">
    <div class="alert alert-success">
      <i class="fa fa-check"></i>
      Nous avons bien reçu votre paiement. Votre voyage est prêt !
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default text-left little-padding">Ce voyage est prêt et confirmé. Vous recevrez très vite
    les informations concernant votre voyage par email. Nous nous occupons de tout. Pensez à vos valises et votre passeport !</div>
    </div>
  </div>
  <hr>

<% elsif trip.gestion.status == 'final' %>
   <h3 class="title">Nous vous attendons. :)</h3>
   <p>Votre voyage est prêt. Nous vous attendons avec impatience à Tokyo.
      A bientot !</p>
    <p>Encore XXXX jours avant votre voyage.</p>

<% elsif trip.gestion.status == 'done' %>
  <h4>Voyage terminé.</h4>
  <p>Comment s'est passé votre voyage ? Laissez nous un commentaire ici :</p>
  <%= link_to "Feedback", '#' %>
<% else %>
  <h1>DEBUG SHOULD NOT APPEAR - Status was not implemented</h1>
  <p><%= trip.gestion.inspect %></p>
<% end %>
