<% if trip.gestion.status == 'new' %>
  <div class="row tb-padding">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-calendar"></i></div></div></div>
      <h2>Réserver mon séjour</h3>
      <p class="text-left">Veuillez vérifier les détails de votre séjour ci-dessous. Si tout est prêt, réservez-le et recevez votre programme
        de visite personnel au plus vite!</p>
    </div>
  </div>
  <div class="row tb-padding">
    <div class="col-xs-12 col-md-6">
      <div class="alert alert-info"><strong>Prix total de votre voyage : <%= trip.price %>€.</strong></div>
      <p class="small-text">Récapitulatif de votre séjour :</p>
      <ul class="list-unstyled list-group">
          <% trip.days.each do |day| %>
          <li class="list-group-item back-green">
              Journée du <%= day.date.strftime("%d/%m/%Y") %> : <%= day.price %>€
          </li>
          <li class="list-group-item">
              <span class="label label-default">Thème de la journée : <%= day.theme.name %></span>
              <span class="label label-success">Organisation de votre journée à la carte.</span>
              <% if day.guide %>
                <span class="label label-success">Journée avec guide privé.</span>
              <% end %>
          </li>
          <% end %>
          <% days_price = 0 %>
          <% trip.days.each do |day| %>
            <% days_price += day.price %>
          <% end %>
        <li class="list-group-item back-green">Organisation du séjour : <%= trip.price - days_price  %>€</li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6">
      <ul class="list-unstyled list-group text-left">
        <li class="list-group-item back-pink">Est inclu dans ce prix :</li>
        <li class="list-group-item">L'organisation de votre séjour et de vos journées selon vos préférences.</li>
        <li class="list-group-item">Votre guide-livret personnel contenant toutes les informations nécessaires pour
        un voyage zen.</li>
        <li class="list-group-item">Les réservations nécessaires aux restaurants, activités et lieux de visites.</li>
        <li class="list-group-item back-pink">Reste à votre charge :</li>
        <li class="list-group-item">Les frais de logement et votre transport jusqu'à Tokyo.</li>
        <li class="list-group-item">Les frais de transports lors de vos visites (métro, bus, taxi...).</li>
        <li class="list-group-item">La nourriture, les boissons et les petits casse-croutes.</li>
        <li class="list-group-item">Les frais d'entrées et de visites des différents sites et activités.</li>
      </ul>
    </div>
  </div>
  <div class="row tb-padding">
    <div class="col-md-8 col-md-offset-2">
      <%= link_to "Réserver mon voyage", trip_gestion_path(trip, trip.gestion, :status => :approved ),
                :method => :put, data: {confirm: "Vous ne pourrez plus modifier ce voyage. Réserver ?"},
                class: 'btn btn-block btn-hop btn-lg' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="alert alert-warning"><i class="fa fa-exclamation-circle">
        </i><strong> Atention, vous ne pourrez plus modifier votre voyage ensuite !</strong>
      </div>
      <%= link_to 'Ajouter une journée', new_trip_day_path(@trip), class: 'btn btn-hop btn-block btn-xs' %>
      <%= link_to 'Personnaliser mon séjour', edit_trip_path(@trip), class: 'btn btn-hop btn-block btn-xs' %>
    </div>
  </div>
</div>

<% elsif trip.gestion.status == 'pending' %>
  <div class="row tb-padding">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-thumbs-up"></i></div></div></div>
      <h2 class="title">En préparation</h3>
      <p class="small-text">Nous avons bien reçu votre demande de réservation. Merci pour votre confiance !</p>
      <div class="alert alert-success text-left">
        <i class="fa fa-check"></i> Votre voyage est en ce moment organisé et validé par nos équipes.
         Vous pourrez confirmer et payer votre voyage très bientôt.</div>
    </div>
  </div>



<% elsif trip.gestion.status == 'approved' %>
   <div class="row tb-padding">
     <div class="col-sm-8 col-sm-offset-2">
       <div class="box"><div class="icon"><div class="image"><i class="fa fa-thumbs-up"></i></div></div></div>
       <h2>Paiement</h2>
       <p>Votre voyage est prêt !</p>
       <p class="small-text">Merci de procéder au paiement sécurisé en cliquant sur le bouton ci-dessous.</p>
     </div>
   </div>
   <div class="row">
     <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
       <div class="alert alert-info"><strong>Prix total de votre voyage : <%= trip.price %>€.</strong></div>
       <p class="small-text">Récapitulatif de votre séjour :</p>
       <ul class="list-unstyled list-group">
           <% trip.days.each do |day| %>
           <li class="list-group-item back-green">
               Journée du <%= day.date %> : <%= day.price %>€
           </li>
           <li class="list-group-item">
               <span class="label label-default">Thème de la journée : <%= day.theme.name %></span>
               <span class="label label-success">Organisation de votre journée à la carte.</span>
               <% if day.guide %>
                 <span class="label label-success">Journée avec guide privé.</span>
               <% end %>
           </li>
           <% end %>
           <% days_price = 0 %>
           <% trip.days.each do |day| %>
             <% days_price += day.price %>
           <% end %>
         <li class="list-group-item back-green">Organisation du séjour : <%= trip.price - days_price  %>€</li>
       </ul>
     </div>
    </div>
    <div class="row">
      <%= form_tag create_charge_path do %>
        <% if flash[:error].present? %>
         <div id="error_explanation"><p><%= flash[:error] %></p></div>
        <% end %>
        <%= hidden_field_tag :trip_id, trip.id %>
        <%= hidden_field_tag :amount, trip.price*100 %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="Paiement de mon voyage"
        data-amount="<%= trip.price * 100 %>" data-locale="auto" data-name="Stripe.com"
        data-description="Voyage à Tokyo" data-zip-code="true"
        data-panel-label="Payer par carte banquaire"
        data-label="Payer <%= trip.price %>€ par carte bancaire"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
      </script>
    <% end %>
   </div>

<% elsif trip.gestion.status == 'payed' %>
<div class="row tb-padding">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="box"><div class="icon"><div class="image"><i class="fa fa-thumbs-up"></i></div></div></div>
    <h2 class="title">Voyage confirmé</h3>
    <p class="small-text">Merci pour votre confiance ! Votre séjour est prêt !</p>
    <div class="alert alert-success text-left">
      <i class="fa fa-check"></i> Votre programme de visite contenant tous les détails de votre
      voyage sera bientôt disponible sur le site.
    </div>
  </div>
</div>

<% elsif trip.gestion.status == 'final' %>
<div class="row tb-padding">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="box"><div class="icon"><div class="image"><i class="fa fa-thumbs-up"></i></div></div></div>
    <h2 class="title">Votre programme est prêt !</h3>
    <p class="small-text">Merci pour votre confiance ! Votre séjour est prêt !</p>
    <div class="alert alert-success text-left">
      <i class="fa fa-check"></i> Votre guide-livret contenant tous les détails de votre
      voyage est disponible !
      <%= link_to "Voir mon livret", livret_path(trip.livret), class: 'show-livret' %>
    </div>
  </div>
</div>

<% elsif trip.gestion.status == 'done' %>
<div class="row bottom-space">
  <div class="box"><div class="icon"><div class="image"><i class="fa fa-comments"></i></div></div></div>
  <h2>Voyage terminé</h2>
  <p>Comment s'est passé votre voyage ? Laissez nous un commentaire ici :</p>
  <%= link_to "Feedback", '#' %>
</div>
<% else %>
<div class="row bottom-space">
  <div class="box"><div class="icon"><div class="image"><i class="fa fa-calendar"></i></div></div></div>
  <h2>Oups, quelque chose ne va pas...</h2>
</div>
<% end %>
