<% if trip.errors.any? %>
 <section id="flash-section">
   <div class="alert alert-warning alert-dismissable fade in">
     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     <strong>Votre voyage n'a pas pu être sauvegardé :</strong>
     <ul>
     <% trip.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
</section>
<% end %>

<%= form_for trip do |f| %>

<header class="business-header">
    <div class="container">
      <div class="row">
       <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1  ">

         <div class="form-container">
           <div class="row">
             <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">
               <div class="form-group">
                 <%= f.label :name, 'Un joli nom pour votre voyage :' %>
                 <%= f.text_field :name, class: "form-control input-lg", placeholder: "Mon superbe voyage à Tokyo." %>
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">
               <hr>
               <div class="form-group">
                 <%= f.label :comment, 'Quelque choses à partager avec nous sur votre voyage ?' %>
                 <%= f.text_area :comment, class: "form-control trip-comment-area",
                      placeholder: "Vous souhaitez absolument voir quelque chose ? Ou au contraire vous ne voulez pas visiter ce musée ? Vous aimez les ramens ? Dites nous tout. :)" %>
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">
                 <hr>
                 <%= link_to "Personaliser votre voyage", "#option-row", class: "btn btn-success btn-lg" %>
             </div>
           </div>
         </div>

      </div>
    </div><!-- row -->
  </div><!-- cont -->
</header>

<!-- Page Content -->
<div class="container">
  <br>
  <div class="row" id = "option-row">
    <br>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2 text-center">
      <hr>
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-heart"></i></div></div></div>
      <h1>Votre voyage comme vous l'aimez !</h1>
      <p class="lead">Introduce the visitor to the business using clear, informative text.
        Use well-targeted keywords within your sentences to make sure search engines can find the business.</P>
    </div>
  </div>
  <br>
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="mini-form">
        <h4>Nombres de personnes</h4>
        <div class="form-group form-inline">
        <span>
            <i class="fa fa-user"></i>
        </span>
        <%= f.label :adults, "Adulte(s) :  " %>
        <%= f.number_field :adults, class: "form-control" %>
      </div>
      <div class="form-group form-inline">
        <span>
            <i class="fa fa-user"></i>
        </span>
        <%= f.label :kids, "Enfant(s) :" %>
        <%= f.number_field :kids, class: "form-control" %>
      </div>
      <div class="form-group form-inline">
        <p>x Checkbox KIds friendly</p>
      </div>
      <h4>Budget</h4>
      <div class="form-group form-inline">
        <span>
          <i class="fa fa-money"></i>
        </span>
        <%= f.fields_for :budget do |ff| %>
        <%= ff.range_field( :value, in: 0..4, class: "form-control" ) %>
        <% end %>
      </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="mini-form">
      <h4>Rythme de vos journée</h4>
      <div class="form-group form-inline">
        <%= f.fields_for :rythme do |ff| %>
        <span>
            <i class="fa fa-tree"></i>
        </span>
          <%= ff.range_field( :value, in: 0..4, class: "form-control" ) %>
        <% end %>
      </div>
      <div class="form-group form-inline">
        <p>X Checkbox 1st timer  </p>
      </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="mini-form">
      <h3>Nous aimons :</h3>
      <div class="form-group">
        <%= f.fields_for :style do |ff| %>
          <%= ff.label :culture %>
          <%= ff.check_box :culture %>
          <%= ff.label :nature %>
          <%= ff.check_box :nature %>
          <%= ff.label :sport %>
          <%= ff.check_box :sport %>
          <%= ff.label :food %>
          <%= ff.check_box :food %>
          <%= ff.label :shopping %>
          <%= ff.check_box :shopping %>
          <%= ff.label :kid %>
          <%= ff.check_box :kid %>
          <%= ff.label :comment %>
          <%= ff.text_field :comment %>
        <% end %>
      </div>
    </div>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">
      <hr>
      <%= f.submit "Save trip !", class: "btn btn-success btn-lg" %>
      <% end %> <!-- form end -->
    </div>
  </div><!-- row -->


    <footer>
       <a class="anchor" id="comment-row"></a>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              FOOTER_CONTENT
            </div>
        </div>
        <!-- /.row -->
    </footer>



</div>
<!-- /.container -->
