<!-- Image Section -->
<header class="business-header">
  <div class="slideshow"></div>
</header>

<%= form_for trip do |f| %>

<section class="container content-section">
  <div class="header-wrapper">
    <div class="row bottom-space text-center">
      <div class="col-md-8 col-md-offset-2">
        <div class="box"><div class="icon"><div class="image"><i class="fa fa-plane"></i></div></div></div>
        <h1 class="bottom-space">Mon voyage idéal</h1>
        <p>Tout d'abord choisissez un joli nom pour votre voyage :</p>
        <div class="form-group">
            <%= f.text_field :name, class: "form-control input-lg", placeholder: "Mon superbe voyage à Tokyo." %>
        </div>
        <% if trip.errors.full_messages_for(:name).any? %>
        <div class="alert alert-warning">
          <% trip.errors.full_messages_for(:name).each do |error| %>
            <%= error %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="row bottom-space text-center">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-money"></i></div></div></div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1 class="bottom-space">Au sujet de l'organisation</h1>
          <p>Quel budget pour ce voyage ?</p>
        </div>
        <div class="col-md-6 col-md-offset-3 panel panel-default">
          Lors de votre voyage les entrées aux monuments, musée, visites... restent à votre charge.
          Indiquez nous quel budget vous souhaitez y accorder. Nous organiserons vos journées en conséquence.</br>
          Ceci ne modifie pas le prix de nos prestations.
        </div>
      </div>
      <div class ="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <%= f.fields_for :budget do |ff| %>
              <%= ff.range_field( :value, in: 0..4 , id: 'budget-range') %>
              <% end %>
            </div>
            <div class="alert alert-success budget-infos" id="budget0">
              <strong>€ Mini Budget :</strong> Nous privilègerons les activités et les visites
              gratuites et nous limiterons les frais de transports.
            </div>
            <div class="alert alert-success budget-infos" id="budget1">
              <strong>€€ Petit budget :</strong> Nous veillerons à ce que vos journées reste
              économique tout en profitant de la ville.
            </div>
            <div class="alert alert-success budget-infos" id="budget2">
              <strong>€€€ Budget normal :</strong> Profitez de Tokyo dans toute sa richesse sans
              sacrifier votre portefeuille.
            </div>
            <div class="alert alert-success budget-infos" id="budget3">
              <strong>€€€€ Budget Plaisir :</strong>Prêt à quelques petites folies pour découvrir
              les merveilles de Tokyo ?
            </div>
            <div class="alert alert-success budget-infos" id="budget4">
              <strong>€€€€€ Budget Luxe :</strong> Pas de limite, le luxe et la démesure vont très bien
              avec Tokyo. :)
            </div>
          </div>
        </div>
    </div>

    <div class="row text-center">
      <p>Indiquez le nombre de personne pour ce voyage :</p>
      <div class="form-group">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <span>
              <i class="fa fa-user"></i>
          </span>
          <%= f.label :adults, "Adulte(s) :  " %>
          <%= f.number_field :adults %>
          <% if trip.errors.full_messages_for(:adults).any? %>
          <div class="alert alert-warning">
            <% trip.errors.full_messages_for(:adults).each do |error| %>
              <%= error %>
            <% end %>
          </div>
          <% end %>
        </div>
        <div class="col-md-3">
          <span>
              <i class="fa fa-child"></i>
          </span>
          <%= f.label :kids, "Enfant(s) :" %>
          <%= f.number_field :kids %>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
    <br>
    <div class="row bottom-space">
      <div class="col-md-6 col-md-offset-3">
        <ul class="list-group">
          <%= f.fields_for :style do |ff| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-10">
                Je souhaite que ma journée soit fun et interessante pour les enfants.
              </div>
              <div class="col-sm-2">
                <div class="material-switch pull-right">
                    <%= ff.check_box :kid, id: "kidsfriendly" %>
                    <label for="kidsfriendly" class="label-success"></label>
                </div>
              </div>
            </div>
          <% end %>
          </li>
        </ul>
      </div>
    </div>

    <div class="row bottom-space text-center">
      <div class="col-md-8 col-md-offset-2 bottom-space">
        <div class="box"><div class="icon"><div class="image"><i class="fa fa-heart"></i></div></div></div>
        <h3>Mon voyage comme je l'aime</h3>
        <p>Personalisez votre voyage pour qu'il vous corresponde.<br>
          Vous pourrez modifier ces options plus tard si vous désirez.</p>
      </div>
      <div class="col-md-8 col-md-offset-2 panel panel-default little-padding">
        Nous organiserons vos journées avec plus ou moins d'activités selon le rythme que vous choisissez.
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <p>A quel rythme aimez-vous passez vos vacances ?</p>
        <%= f.fields_for :rythme do |ff| %>
          <%= ff.range_field( :value, in: 0..4, class: "form-control", id: "rythme-range" ) %>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-success rythme-infos" id="rythme0">
          <strong>Vacances vieu matou :</strong> Vous aimez vous prélassez et profiter doucement de chaque instant
          et lieu que vous visitez tout en déambulant gentilment.
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-success rythme-infos" id="rythme1">
          <strong>Vacance petit chiot :</strong> Vous aimez avoir le temps de visiter tranquilement, mais sans perdre de temps à révasser.
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-success rythme-infos" id="rythme2">
          <strong>Vacance girafe de savanne : </strong> Vous ne voulez pas courrir mais il y'a tant à voir !
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-success rythme-infos" id="rythme3">
          <strong>Vacance lapin de garenne : </strong>Vous voulez profitez des richesses de Tokyo, et vous êtes prêt à avoir des journées chargés pour ça.
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-success rythme-infos" id="rythme4">
          <strong>Vacance guépart :</strong> Vous courrez un marathon tous les matins, rien ne vous effraie.
        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item">
          Ceci est mon premier voyage à Tokyo.
          <div class="material-switch pull-right">
              <%= ff.check_box :first, id: "firsttimer" %>
              <label for="firsttimer" class="label-success"></label>
          </div>
        </li>
        <li class="list-group-item">
          Je préfere visiter hors des sentiers battus, découvrir des endroits méconnus.
          <div class="material-switch pull-right">
              <%= ff.check_box :offtrack, id: "offtrack" %>
              <label for="offtrack" class="label-success"></label>
          </div>
        </li>
      </ul>
    </div>
      <% end %>
    </div>
  </div>

    <div class="row">
      <%= f.fields_for :style do |ff| %>
      <p class="text-center">Ce que je préfere pendant mes vacances :</p>
      <div class="col-md-8 col-md-offset-2">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-8">
                Visite culturelle, site historique et musée.
              </div>
              <div class="col-sm-4">
                <div class="material-switch pull-right">
                <%= ff.check_box :culture, id: "culturebox" %>
                <label for="culturebox" class="label-success"></label>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
            <div class="col-sm-8">
              Nature, activités en extèrieur et parc.
            </div>
            <div class="col-sm-4">
              <div class="material-switch pull-right">
              <%= ff.check_box :nature, id: "naturebox" %>
              <label for="naturebox" class="label-success"></label>
              </div>
            </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
            <div class="col-sm-8">
              Activités manuelles, ateliers artisanaux, cours traditionnels
            </div>
            <div class="col-sm-4">
              <div class="material-switch pull-right">
              <%= ff.check_box :sport, id: "sportbox" %>
              <label for="sportbox" class="label-success"></label>
              </div>
            </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
            <div class="col-sm-8">
              Gastronomie, boissons et patisseries
            </div>
            <div class="col-sm-4">
              <div class="material-switch pull-right">
              <%= ff.check_box :food, id: "foodbox" %>
              <label for="foodbox" class="label-success"></label>
              </div>
            </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
            <div class="col-sm-8">
              Shopping, grands magasins et boutiques
            </div>
            <div class="col-sm-4">
              <div class="material-switch pull-right">
              <%= ff.check_box :shopping, id: "shoppingbox" %>
              <label for="shoppingbox" class="label-success"></label>
              </div>
            </div>
            </div>
          </li>
        </ul>
        <%end%>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <p>Quelque chose à rajouter ? Dites nous tout ce qui vous semble important pour que vos vacances soient parfaites.</p>
        <%= f.text_area :comment, class: "form-control", rows: 6,
             placeholder: "Vous souhaitez absolument voir quelque chose ? Ou au contraire vous ne voulez pas visiter ce musée ? Vous aimez les ramens ? Dites nous tout. :)" %>
      </div>
    </div>

    <div class="row bottom-spaceloca">
      <div class="col-md-8 col-md-offset-2">
        <%= f.submit "Valider mon voyage !", class: "btn btn-success btn-lg btn-block" %>
      </div>
    </div>
    <% end %>
  </div><!-- header-wrapper -->
</section>

<%= render('shared/commercial') %>
