<h4>
<%= params.inspect %>
</h4>

<% if trip.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(trip.errors.count, "error") %> prohibited this day from being saved:</h2>
    <ul>
    <% trip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= form_for trip do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </p>

  <p>
    <%= f.label :adults %>
    <%= f.number_field :adults %>
  </p>
  <p>
    <%= f.label :kids %>
    <%= f.number_field :kids %>
  </p>

  <p>
  <h5>Budget</h5>
  <%= f.fields_for :budget do |ff| %>
    <%= ff.label :value %>
    <%= ff.range_field( :value, in: 0..4 ) %>
    <%= ff.label :comment %>
    <%= ff.text_field :comment %>
  <% end %>
  </p>
  <p>
  <h5>Rythme</h5>
  <%= f.fields_for :rythme do |ff| %>
    <%= ff.label :value %>
    <%= ff.range_field( :value, in: 0..4 ) %>
    <%= ff.label :walking %>
    <%= ff.range_field( :walking, in: 0..4 ) %>
    <%= ff.label :transport %>
    <%= ff.range_field( :transport, in: 0..4 ) %>
    <%= ff.label :comment %>
    <%= ff.text_field :comment %>
  <% end %>
  </p>

  <p>
  <h5>Interest</h5>
  <%= f.fields_for :style do |ff| %>
    <%= ff.label :culture %>
    <%= ff.check_box :culture %>
    <%= ff.label :nature %>
    <%= ff.check_box :nature %>
    <%= ff.label :sport %>
    <%= ff.check_box :sport %>
    <%= ff.label :food %>
    <%= ff.check_box :food %>
    <%= ff.label :shopping %>
    <%= ff.check_box :shopping %>
    <%= ff.label :kid %>
    <%= ff.check_box :kid %>
    <%= ff.label :comment %>
    <%= ff.text_field :comment %>
  <% end %>
  </p>
  <p>
    <h5>Extra information / Comment</h5>
    <h6>Please let us know about allergy / restriction / special need</h6>
    <%= f.text_area :comment %>
  </p>

  <p class="lead"><%= f.submit "Save trip !" %></p>
<% end %>
