<!-- Image Section -->
<header class="business-header">
  <div class="slideshow"></div>
</header>

<%= form_for trip do |f| %>
<section class="container content-section">
  <div class="header-wrapper">
    <div class="row bottom-space text-center">
      <div class="col-md-8 col-md-offset-2">
        <div class="box"><div class="icon"><div class="image"><i class="fa fa-plane"></i></div></div></div>
        <h1 class="bottom-space">Mon voyage idéal</h1>
        <p>Tout d'abord choisissez un joli nom pour votre voyage :</p>
        <div class="form-group">
            <%= f.text_field :name, class: "form-control input-lg", placeholder: "Mon superbe voyage à Tokyo." %>
        </div>
      </div>
    </div>

    <div class="row bottom-space text-center">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-money"></i></div></div></div>
      <h1 class="bottom-space">Au sujet de l'organisation</h1>
      <p>Quel budget pour ce voyage ?</p>
      <div class ="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <%= f.fields_for :budget do |ff| %>
              <%= ff.range_field( :value, in: 0..4 ) %>
              <% end %>
            </div>
            <div class="alert alert-success">
              <strong>Budget Eco</strong> Mais toujours le best du best!
            </div>
          </div>
        </div>
    </div>

    <div class="row text-center">
      <p>Indiquez le nombre de personne pour ce voyage :</p>
      <div class="form-group">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <span>
              <i class="fa fa-user"></i>
          </span>
          <%= f.label :adults, "Adulte(s) :  " %>
          <%= f.number_field :adults %>
        </div>
        <div class="col-md-3">
          <span>
              <i class="fa fa-child"></i>
          </span>
          <%= f.label :kids, "Enfant(s) :" %>
          <%= f.number_field :kids %>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
    <br>
    <div class="row bottom-space">
      <div class="col-md-6 col-md-offset-3">
        <ul class="list-group">
          <%= f.fields_for :style do |ff| %>
          <li class="list-group-item">
            Je souhaite un voyage fun pour les enfants.
            <div class="material-switch pull-right">
                <%= ff.check_box :kid, id: "kidsfriendly" %>
                <label for="kidsfriendly" class="label-success"></label>
            </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <div class="row bottom-space text-center">
      <div class="col-md-8 col-md-offset-2">
        <div class="box"><div class="icon"><div class="image"><i class="fa fa-heart"></i></div></div></div>
        <h3>Mon voyage comme je l'aime</h3>
        <p>Personalisez votre voyage pour qu'il vous corresponde.<br>
          Vous pourrez modifier ces options plus tard si vous désirez.</p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <p>A quel rythme aimez-vous passez vos vacances ?</p>
        <%= f.fields_for :rythme do |ff| %>
          <%= ff.range_field( :value, in: 0..4, class: "form-control" ) %>
        <div class="alert alert-success">
          <strong>A fond !</strong> Vous aimez les vacances chargé, t'es un homme vite !
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item">
          Ceci est mon premier voyage à Tokyo.
          <div class="material-switch pull-right">
              <%= ff.check_box :first, id: "firsttimer" %>
              <label for="firsttimer" class="label-success"></label>
          </div>
        </li>
        <li class="list-group-item">
          Je préfere visiter hors des sentiers battus.
          <div class="material-switch pull-right">
              <%= ff.check_box :offtrack, id: "offtrack" %>
              <label for="offtrack" class="label-success"></label>
          </div>
        </li>
      </ul>
    </div>
      <% end %>
    </div>
  </div>

    <div class="row">
      <%= f.fields_for :style do |ff| %>
      <p class="text-center">Ce que je préfere pendant mes vacances :</p>
      <div class="col-md-8 col-md-offset-2">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-8">
                Visitez les monuments et sites historiques.
              </div>
              <div class="col-sm-4">
                <div class="material-switch pull-right">
                <%= ff.check_box :culture, id: "culturebox" %>
                <label for="culturebox" class="label-success"></label>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
            <div class="col-sm-8">
              Nature, grand air et extérieurs
            </div>
            <div class="col-sm-4">
              <div class="material-switch pull-right">
              <%= ff.check_box :nature, id: "naturebox" %>
              <label for="naturebox" class="label-success"></label>
              </div>
            </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
            <div class="col-sm-8">
              Sport, activités physiques
            </div>
            <div class="col-sm-4">
              <div class="material-switch pull-right">
              <%= ff.check_box :sport, id: "sportbox" %>
              <label for="sportbox" class="label-success"></label>
              </div>
            </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
            <div class="col-sm-8">
              Gastronomie, boissons et patisseries
            </div>
            <div class="col-sm-4">
              <div class="material-switch pull-right">
              <%= ff.check_box :food, id: "foodbox" %>
              <label for="foodbox" class="label-success"></label>
              </div>
            </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
            <div class="col-sm-8">
              Shopping, grands magasins et artisanat.
            </div>
            <div class="col-sm-4">
              <div class="material-switch pull-right">
              <%= ff.check_box :shopping, id: "shoppingbox" %>
              <label for="shoppingbox" class="label-success"></label>
              </div>
            </div>
            </div>
          </li>
        </ul>
        <%end%>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <p>Quelque chose à rajouter ? Dites nous tout ce qui vous semble important pour que vos vacances soient parfaites.</p>
        <%= f.text_area :comment, class: "form-control", rows: 6,
             placeholder: "Vous souhaitez absolument voir quelque chose ? Ou au contraire vous ne voulez pas visiter ce musée ? Vous aimez les ramens ? Dites nous tout. :)" %>
      </div>
    </div>

    <div class="row bottom-spaceloca">
      <div class="col-md-8 col-md-offset-2">
        <%= f.submit "Save trip !", class: "btn btn-success btn-lg btn-block" %>
      </div>
    </div>
    <% end %>
  </div><!-- header-wrapper -->
</section>

<%= render('shared/commercial') %>
