<section class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Edit your trip</h2>
                <%= form_for @trip do |f| %>
                <h2 class="section-heading"><%= f.label :name %><%= f.text_field :name %></h2>
                <p class="lead"><%= f.label :description %><%= f.text_area :description %></p>
                <p class="lead"><%= f.label :price %><%= f.number_field :price %></p>
                <p class="lead"><%= f.submit "Update !" %></p>
                <% end %>

                <hr class="intro-divider">

            </div>
            <div class="col-lg-5 offset-lg-2">
              <%= image_tag('sete.jpeg', class: 'img-fluid') %>

            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
