<!-- Header -->
<header class="business-header">
  <div class="slideshow"></div>
</header>
<!-- Header -->
<section class="container content-section text-center tb-padding">
  <div class="row bottom-space">
    <div class="col-md-8 col-md-offset-2">
        <div class="box"><div class="icon"><div class="image"><i class="fa fa-plane"></i></div></div></div>
        <h1>Mes voyages</h1>
        <% if @trips.length == 0 %>
          <p>Créer votre premier voyage en quelques clics ! Personalisez votre séjour à volonté et réservez dès que vous
            êtes prêt.</p>
            <hr>
            <p><%= link_to 'Créer mon premier voyage', new_trip_path, class: 'btn btn-block btn-success btn-lg' %></p>
        <% else %>
          <p>Vous avez <%= @trips.length %> voyage(s) en préparation.</p>
          <p><%= link_to 'Créer un nouveau voyage', new_trip_path, class: 'btn btn-success btn-lg' %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= render @trips %>
  </div>
</section>

<%= render('shared/commercial') %>
<%= render 'shared/infos' %>
