<header class="business-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <div class="chapeau-header">
            <h1 class="tagline">Krakoukas</h1>
            <hr>
            <p class="lead tagline text-center">Tour personalisé de Tokyo</p>
            <p class="text-center">
              <%= link_to "Créer un nouveau voyage", new_trip_path,  class: "btn btn-success btn-lg" %>
              <br>
              <%= link_to "Voir mes voyages", "#voyages-row", class: "btn btn-success btn-lg" %>
            </p>
          </div>
        </div>
      </div>
    </div>
</header>

<div class="container">
  <!-- Trip rendering Row -->
  <br>
  <div class="row" id="voyages-row">
      <div class="col-lg-12">
        <h1 class="page-header">
            <% if @trips.length >0 %>
            Vos voyages :
            <small>Vous avez <%= @trips.length %> voyage(s) en préparation.</small>
            <% else %>
            Aucun voyage !
            <small>Il est temps de <%= link_to "créer", new_trip_path %> votre premier voyage !</small>
            <% end %>
        </h1>
      </div>
      <%= render @trips %>
  </div>
  <!-- Footer -->
  <footer id="information-row">
      <div class="row">
          <div class="col-lg-12">
              <p>Bullshit commercial / FAQ</p>
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
  </footer>
</div>
