<!-- Header -->
<header class="business-header">
  <div class="slideshow"></div>
</header>
<!-- Header -->
<section class="container content-section text-center">
  <div class="header-wrapper">
    <div class="row bottom-space">
      <div class="col-md-8 col-md-offset-2">
        <div class="box"><div class="icon"><div class="image"><i class="fa fa-plane"></i></div></div></div>
        <% if @trips.length == 0 %>
        <h3>Créer votre premier voyage</h3>
        <p> Vous n'avez pas encore créé de voyage. C'est simple, rapide et extraordinaire ! Vite, créez-en un.</p>
        <p><%= link_to 'Créer mon premier voyage', new_trip_path, class: 'btn btn-block btn-success btn-lg' %></p>
        <br>
        <% else %>
          <h3>Mes voyages</h3>
          <p>Vous avez <%= @trips.length %> voyage(s) en préparation. Personalisez votre voyage, pouponner vos vacances,
          prenez en soin ! Quand elles vous semblent parfaites, réservez-les et nous faisons le reste !</p>
      <% end %>
      </div>
    </div>
  <div class="row">
    <%= render @trips %>
    <br>
    <div class="col-md-4">
      <%= link_to "Nouveau voyage", new_trip_path, class: 'btn btn-success btn-lg' %>
    </div>
  </div>
</div>
</section>

<!-- Image Section -->
<section class="content-section text-center">
    <div class="download-section">
        <div class="image-overlay"></div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <h4 class='tagline'>Besoin d'idée pour votre voyage ?</h2>
              <h2 class="tagline" id="theme-title">TOKYO</h2>
              <p class="tagline" id="theme-descr">Visitez Tokyo et sa région comme personne. Nous nous occupons de tout.</p>
              <%= link_to 'Choisissez !', root_path, class:"btn btn-default btn-lg" %>
          </div>
        </div>
    </div>
</section>
<!-- Infos Section -->
<section  id="info-row" class="container content-section text-center">
  <%= render 'shared/infos' %>
</section>
