<div>
  <h2><%= @trip.name %></h2>
  <p>About your trip : <%= @trip.description %></p>
  <p>For <%= @trip.user.email %> | <%= @trip.adults %> addults and <%= @trip.kids %> kids</p>
  <p> Price :<%= @trip.price %> € </p>
  <p> Date : <%= @trip.date %> </p>
</div>
<%= render 'book_status', trip: @trip %>
<div>
  <h2>Budget</h2>
  <p><%= @trip.budget.value %></p>
  <p><%= @trip.budget.comment %></p>
</div>
<div>
  <h2>Rythme</h2>
  <p><%= @trip.rythme.value %></p>
  <p><%= @trip.rythme.walking %></p>
  <p><%= @trip.rythme.transport %></p>
  <p><%= @trip.rythme.comment %></p>
</div>
<div>
  <h2>Style</h2>
  <p><%= @trip.style.culture ?  ( "OK Culture !" ) : ( "NO Culture !" )%></p>
  <p><%= @trip.style.nature ?  ( "OK Nature !" ) : ( "NO Nature !" )%></p>
  <p><%= @trip.style.sport ?  ( "OK Sport !" ) : ( "NO Sport !" )%></p>
  <p><%= @trip.style.food ?  ( "OK Food !" ) : ( "NO Food !" )%></p>
  <p><%= @trip.style.shopping ?  ( "OK Shopping !" ) : ( "NO Shopping !" )%></p>
  <p><%= @trip.style.kid ?  ( "Kids Friendly !" ) : ( "NO Kids !" )%></p>
  <p><%= @trip.style.comment %>
</div>

  <p><%= link_to 'Edit your trip', edit_trip_path(@trip) %></p>
  <p><%= link_to "Delete this trip", trip_path(@trip), method: :delete %></p>
</div>

<div>
  <h2> <%= @days.length %> day(s) on this trip</h2>
  <% if @trip.status == 0 %>
    <p class="lead"><%= link_to 'Add a new day', new_trip_day_path(@trip) %> </p>
  <% end %>
</div>

<%= render @days %>
