<div>
  <h2><%= @trip.name %></h2>
  <p>About your trip : <%= @trip.description %></p>
  <p>For <%= @trip.user.email %>.</p>
  <p> Price :<%= @trip.price %> €</p>
  <p><%= link_to 'Edit your trip', edit_trip_path(@trip) %></p>
  <p><%= link_to "Delete this trip", trip_path(@trip), method: :delete %></p>
</div>

<div>
  <h2> <%= @days.length %> day(s) on this trip</h2>
  <p class="lead"><%= link_to 'Add a new day', new_trip_day_path(@trip) %> </p>
</div>

<%= render @days %>
