<!-- Intro Header -->
<header class="intro">
  <div class="slideshow"></div>
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="brand-heading tagline"><%= @trip.name.capitalize %></h3>
          <p class="intro-text tagline">Pour <%= @trip.adults %> adulte(s) et <%= @trip.kids %> enfant(s).</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-offset-3">
          <p><%= link_to "Planning du voyage", "#day-row", class: "btn btn-block btn-success" %></p>
          <p><%= link_to "Préférences", "#infos-row", class: "btn btn-block btn-success" %></p>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header -->

<section id="day-row" class="container content-section text-center">
  <div class="header-wrapper">
    <div class="row bottom-space">
        <div class="box"><div class="icon"><div class="image"><i class="fa fa-calendar"></i></div></div></div>
        <h2>Mon planning</h2>
        <p>Ce voyage comprend <%= @days.length %> journée(s).</p>
    </div>
    <div class="row bottom-space">
      <%= render @days %>
      <div class="col-sm-6 col-md-4">
        <%= render partial: 'book_status', locals: { trip: @trip } %>
      </div>
    </div>

    <div class="row bottom-space" id ="booking">
      <%= render partial: 'book_status_full', locals: { trip: @trip } %>
    </div>

  </div>
</section>

<!-- Image Section -->
<section class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>TODO name theme</h2>
                <p>TODO JS : take a random theme and display image and legend</p>
                <a href="" class="btn btn-default btn-lg">Réserver mon voyage</a>
            </div>
        </div>
    </div>
</section>


<section id="infos-row" class="container content-section text-center">
  <div class="header-wrapper">

    <div class="row bottom-space">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-sign-in"></i></div></div></div>
      <h2>Mes préférences</h2>
      <p>Blabla commercial modifier toussa</p>
      <div class="col-sm-6 col-sm-offset-3">
        <% if @trip.gestion.status == 'new' %>
          <%= link_to "Modifier mon voyage", edit_trip_path(@trip), class: 'btn btn-block btn-success' %>
        <%end%>
      </div>
    </div>

    <div class="row bottom-space">
      <h4>Organisation de votre voyage</h4>
      <% if @trip.style.kid %>
      <div class="row">
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
          <span><i class="fa fa-check"></i></span>
          Votre voyage sera organisé pour que les enfants s'amusent !
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <ul class="list-group">
            <li class="list-group-item">Voyage pour <%= @trip.adults %> adulte(s) et <%= @trip.kids %> enfant(s).</li>
            <li class="list-group-item">
              <% if @trip.budget.value == 1 %>
                <strong>Budget économique : </strong>Nous privilègerons les activités et les visites gratuites.
              <% elsif @trip.budget.value == 2 %>
                <strong>Budget économique : </strong>Nous privilègerons les activités et les visites gratuites.
              <% elsif @trip.budget.value == 3 %>
                <strong>Budget économique : </strong>Nous privilègerons les activités et les visites gratuites.
              <% elsif @trip.budget.value == 4 %>
                <strong>Budget économique : </strong>Nous privilègerons les activités et les visites gratuites.
              <% else %>
                Oups, quelque chose ne vas pas....
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row bottom-space">
      <h4>Rythme de votre voyage</h4>
      <% if @trip.rythme.first %>
      <div class="row">
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
          <span><i class="fa fa-check"></i></span>
          C'est votre premier voyage à Tokyo. Nous en prendrons compte.
        </div>
      </div>
      <% else %>
      <div class="row">
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
          <span><i class="fa fa-check"></i></span>
          Ce n'est pas votre premier voyage à Tokyo. Nous en prendrons compte.
        </div>
      </div>
      <% end %>
      <% if @trip.rythme.offtrack %>
      <div class="row">
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
          <span><i class="fa fa-check"></i></span>
          Vous aimez visiter hors des sentiers battus. Nous ne privilégerons pas les activités touristiques classiques.
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <ul class="list-group">
            <li class="list-group-item">
              <% if @trip.rythme.value == 1 %>
                <strong>Tranquillement : </strong>Vos journées seront organisés sur un rythme très relaxant, pour
                que vous ayez le temps de vous reposer et vous détendre, sans courir entre les visites.
              <% elsif @trip.rythme.value == 2 %>
                <strong>En prenant le temps : </strong>Des visites agréable en ayant le temps d'apprécier les moments.
                Vous aurez le temps de flaner tout en visitant.
              <% elsif @trip.rythme.value == 3 %>
                <strong>Sans trop trainer : </strong>Vous souhaitez voir beaucoup de chose mais vous ne voulez pas non
                plus courrir. C'est les vacances.
              <% elsif @trip.rythme.value == 4 %>
                <strong>Pour voir beaucoup : </strong>Vous voulez profiter au maximum de votre temps à Tokyo. Vos envies
                de visites sont infinis... suivez le guide, car il y'a beaucoup à faire. :)
              <% else %>
                Oups, quelque chose ne vas pas....
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row bottom-space">
      <h4>Points importants de votre voyage</h4>

      <% if @trip.style.culture %>
      <div class="row">
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
          <span><i class="fa fa-check"></i></span>
          La culture, l'histoire et les traditions du Japon vous passionne. Nous nous assurerons
          que vos visites vous permettent de voir monuments, sites historiques, musées...
        </div>
      </div>
      <% else %>
      <div class="row">
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
          <span><i class="fa fa-check"></i></span>
          Les visites culturelles ne sont pas votre priorité. Nous visiterons les sites les plus majestueux
          sans passer nos journées au musée. :)
        </div>
      </div>
      <% end %>

      <% if @trip.style.nature %>
      <div class="row">
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
          <span><i class="fa fa-check"></i></span>
          Vous aimez la nature et les grands espaces, ... mais à Tokyo ? Pas de problème ! Tokyo est riche en parc
           et jardin magnifique. Nous nous assurerons que vous en profitiez.
        </div>
      </div>
      <% end %>

      <% if @trip.style.sport %>
      <div class="row">
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
          <span><i class="fa fa-check"></i></span>
          Amateur de sport, Tokyo est là pour vous ! Evenement, démonstration et match en tout genre sont nombreux.
          Nous vous proposerons les meilleures opportunités pour des vacances sportive pleine de découverte.
        </div>
      </div>
      <% end %>

      <% if @trip.style.food %>
      <div class="row">
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
          <span><i class="fa fa-check"></i></span>
          La gastronomie japonaise peut-elle rivaliser avec la cuisine française ? Mettons notre fierté de coté un instant et
          partons à la découverte des toutes ces merveilles disponible ici ! Ramen, sushi, unagi, soba, donburi, taiyaki... goutons tout !
        </div>
      </div>
      <% end %>

      <% if @trip.style.shopping %>
      <div class="row">
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
          <span><i class="fa fa-check"></i></span>
          Shopping ! Grands magasins ! Petites boutiques d'artisans ou centre commerciaux géants ! Vous avez une liste de
          souvenir à ramener longue comme un jour sans pain ? Pas de problème ! On vous soutient et vous guide pour que vous
          trouviez tout ce que vous chercher.
        </div>
      </div>
      <% end %>
    </div>
    <div class="row bottom-space">
      <div class="col-sm-6 col-sm-offset-3">
        <%= link_to "Modifier mon voyage", edit_trip_path(@trip), class: 'btn btn-lg btn-block btn-success' %>
      </div>
    </div>
  </div>
</section>
