
<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h1 class="tagline"><%= @trip.name.capitalize %></h1>
              <p><a href="#day-row">
                <button type="button" class="btn btn-default btn-sm"><strong>Planning</strong></button>
              </a></p>
              <p><a href="#info-row">
                <button type="button" class="btn btn-default btn-sm"><strong>Préférences</strong></button>
              </p></a>
              <p><a href="#comment-row">
                <button type="button" class="btn btn-default btn-sm"><strong>Commentaires</strong></button>
              </p></a>
                <% if @trip.gestion.status == "new" %>
                  <p>
                    <%= link_to raw("<button type='button' class='btn btn-danger btn-sm'><strong>Supprimer</strong></button>"),
                              trip_path(@trip), method: :delete, data: {confirm: "Delete this trip ?"} %>
                  </p>
                <%end%>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <a class="anchor" id="day-row"></a>
    <div class="row">
      <div class="col-sm-4 text-center">
        <hr>
        <%= render partial: 'book_status', locals: { trip: @trip }%>
        <hr>
      </div>
      <%= render @days %>
      <div class="col-sm-4 text-center">
        <hr>
        <h4> Ce voyage comprend <%= @days.length %> journée.</h4>
        <p>Ajoutez de nouvelles journée en cliquant sur le bouton ci-dessous.</p>
        <% if @trip.gestion.status == "new" %>
          <p><a href="<%= new_trip_day_path(@trip) %>">
            <button type="button" class="btn btn btn-success"><strong>Ajouter une nouvelle journée</strong></button>
          </p></a>
        <% end %>
        <hr>
      </div>
    </div>
    <!-- /.row -->
    <hr>
    <a class="anchor" id="info-row"></a>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fa fa-flag"></i></div>
          <div class="info">
            <h3 class="title">Vous avez choisi un Eco Trip !</h3>
              <p><b>Petit budget, Best experience !</b> Priorité aux activités gratuites
              et aux restaurants locaux. :-)</p>
              <h3 class="title">Avec   un guide privé !</h3>
                <p><b>Un guide personnel </b>vous accompagnera toute la journée.
                Profitez de ses conseils locaux et experimenté.</p>
            <div class="more">
              <a href="<%= edit_trip_path(@trip) %>" title="Title Link">
                Modifier mon voyage <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="box">
      <div class="icon">
        <div class="image"><i class="fa fa-flag"></i></div>
        <div class="info">
          <h3 class="title">Vous voulez profitez en priorité :</h3>
          <% if @trip.style.culture %>
            <p><b>Culture et Histoire :</b>
            Découverte des musées, monuments et sites touristiques.</p>
          <%end%>
          <% if @trip.style.nature %>
            <p><b>Nature et exterieur :</b>
            Profiter de la nature et des grands espaces. Parcs et jardins...</p>
          <%end%>
          <% if @trip.style.sport %>
            <p><b>Sport :</b>
            Bouger, courir, sauter...  Faire du sport.</p>
          <%end%>
          <% if @trip.style.food %>
            <p><b>Foodies :</b>
            Manger ! Restaurant, marchés, snacks.. tout doit disparaitre !</p>
          <%end%>
          <% if @trip.style.shopping %>
            <p><b>Shopping :</b>
            Faire les magasins, pour moi et pour les autres.</p>
          <%end%>
          <% if @trip.style.kid %>
          <p> KIDs FRIDLY STICKER TODO</p>
          <%end%>
          <div class="more">
            <a href="<%= edit_trip_path(@trip) %>" title="Title Link">
              Modifier mon voyage <i class="fa fa-angle-double-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="space"></div>
    </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="box">
      <div class="icon">
        <div class="image"><i class="fa fa-flag"></i></div>
        <div class="info">
          <h3 class="title">Avec un rythme relax !</h3>
            <p><b>Un rythme relaxant !</b> Votre trip sera organisé pour que
              vous ayez le temps de vous reposer.</p>
            <p><b>Un minimum de transport</b> pour profiter de la journée un
              maximum.</p>
              <p><b>Vous aimez marcher</b> mais vous ne souhaitez pas fnir sur les rotules !</p>
              <div class="more">
                <a href="<%= edit_trip_path(@trip) %>" title="Title Link">
                  Modifier mon voyage <i class="fa fa-angle-double-right"></i>
                </a>
              </div>
        </div>
      </div>
      <div class="space"></div>
    </div>
    </div>
    </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
       <a class="anchor" id="comment-row"></a>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              FOOTER_CONTENT
            </div>
        </div>
        <!-- /.row -->
    </footer>
</div>
<!-- /.container -->
