<header class="business-header">
  <div class="slideshow"></div>
</header>

<section class="container content-section text-center tb-padding">
  <div class="row tb-padding">
    <div class="box">  <div class="icon"><div class="image"><i class="fa fa-shield"></i></div></div></div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h2>Configuration de votre compte</h2>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= devise_error_messages! %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">Changer mon email</div>
        <div class="panel-body">
            <%= f.label "Votre email :", class: 'form-control' %>
            <%= f.email_field :email, class: "form-control" %>
            <%= f.label "Confirmez votre email :", class: 'form-control' %>
            <%= f.email_field :email_confirmation, autocomplete: "off", class: "form-control" %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">Changer mon mot de passe</div>
        <div class="panel-body">
          <div class="field">
            <%= f.label :nouveau_mot_de_passe %> <i> (laisser vide si vous ne souhaitez pas le changer)</i><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          <div class="field">
            <%= f.label :confirmer_votre_mot_de_passe %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">Entrez votre mot de passe actuel pour enregistrer :</div>
        <div class="panel-body">
          <div class="field">
            <i>(confirmer votre ancien mot de passe pour enregistrer les changements)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Enregistrer", class: 'btn btn-block btn-success' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</section>

<section class="container content-section text-center tb-padding">
  <div class="row tb-padding">
    <div class="box">  <div class="icon"><div class="image"><i class="fa fa-shield"></i></div></div></div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h2>Supprimer votre compte</h2>
      <p>Attention cette opération supprimera définitevement votre compte et toutes les données associées.
        Il ne sera pas possible de le restaurer dans le futur.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= button_to "Supprimer mon compte TokyoHop!", registration_path(resource_name), class: "btn btn-block btn-danger",
                    data: { confirm: "Confirmer la suppression DEFINITIVE de votre compte ?" }, method: :delete %></p>
    </div>
  </div>
</section>
