<h1>Krakoukas</h1>
<h3>Resgister with your email :</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, autofocus: true, placeholder: 'Enter your email', :class => 'btn btn-secondary btn-lg' %>
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Enter your password', :class => 'btn btn-secondary btn-lg' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm your password', :class => 'btn btn-secondary btn-lg' %>
    <%= f.submit "Sign up !", :class => 'btn btn-secondary btn-lg' %>
  <% end %>

  <h3>or use your favorite SNS to login :</h3>
    <ul>
      <li><%= link_to raw("<i class='fa fa-twitter fa-fw'></i> <span class='network-name'>Facebook</span>"),
              omniauth_authorize_path(resource_name, :facebook), :class => "btn btn-secondary btn-lg" %>
      </li>
      <li>
          <%= link_to raw("<i class='fa fa-twitter fa-fw'></i> <span class='network-name'>Twitter</span>"),
              omniauth_authorize_path(resource_name, :facebook), :class => "btn btn-secondary btn-lg" %>
      </li>
      <li>
        <%= link_to raw("<i class='fa fa-twitter fa-fw'></i> <span class='network-name'>Instagram</span>"),
            omniauth_authorize_path(resource_name, :facebook), :class => "btn btn-secondary btn-lg" %>
      </li>
      <li>
            <%= link_to raw("<i class='fa fa-twitter fa-fw'></i> <span class='network-name'>Google</span>"),
            omniauth_authorize_path(resource_name, :facebook), :class => "btn btn-secondary btn-lg" %>
       </li>
    </ul>
