<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>Le Japon possède une culture gastronomique extraordinaire. Les japonais sont gourmands et les repas sont un moment important
        dans la culture japonaise. Influencé par la chine et la corée, mais aussi par la cuisine occidentale, le Japon a réussi un savant
        mélange entre tradition et modernité.<br>
        Au long de votre journée, vous traverserez la capitale à la découverte des mets les plus réputés de la capitale et du pays.</p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Sushi</h1>
        <p>Certainement la spécialité la plus emblématique du Japon, ces tranches de poissons crues déposées sur une boule de riz façonnéé
        à la main ont su conquérir le monde. Notre conseil : profitez des sushis pour le petit-déjeuner et commencez votre journée d'un bon
         pied marin !</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'food_theme_001.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Men</h1>
        <p>Les nouilles ont une place importante dans la gastronomie japonaise. Ramen, Udon, Soba, Tsukement, Yakisoba... ces plats réboratifs
        et délicieux sont particulièrement appréciés pour le déjeuner grâce à leur faible coût et la rapidité de préparation. Chaudes ou froides,
      elles sont généralement servies dans ou avec un bouillon et différents ingrédients comme des légumes, viandes, oeufs...</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'food_theme_002.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Street food</h1>
        <p>Ces petites échoppes bordant les rues ou les gares des quartiers populaires
           proposent Confiserie, petits encas, gateaux et autres spécialités qui seront autant d'étapes
           gourmandes entre vos principaux repas. Idéal pour picorer et essayer de nouvelles expériences.</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'food_theme_003.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Patisserie</h1>
        <p>Le japon a nombre de douceurs à vous offrir. Des gourmandises traditionnelles à base de riz ou de pâte de haricots rouges
        aux modernes et superbes patisseries d'influences occidentales, les chefs patissiers et chocolatiers japonais se sont fait
      connaitre par leurs oeuvres artistiques et gustatives. Au coeur de Tokyo des patisseries d'une incroyable qualité vous attendent.</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'food_theme_004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Washoku</h1>
        <p>Le repas traditionel gastronomique est une symphonie de préparations décorées avec finesse à base d'ingrédient frais.
         Ces plats sont servis dans une vaiselle spéciale et les ressources naturelles et locales sont favorisées tels
      que le riz, le poissons ou les légumes sauvages. Inscrit en 2013 au patrimoine culturel de l'humanité par l'UNESCO, le savoir-faire de
      la cuisine japonaise - Washoku - se transmet de génération en génération comme un précieux et fabuleux héritage. <br>
      <%= link_to "Voir le site de l'Unesco", 'https://ich.unesco.org/fr/RL/le-washoku-traditions-culinaires-des-japonais-en-particulier-pour-feter-le-nouvel-an-00869' %>
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'food_theme_005.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
