<!-- Intro Header -->
<header class="intro">
  <div class="slideshow" data-images="<%= images_urls_from @theme.gallery %>"></div>
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="brand-heading tagline"><%= @theme.name %></h3>
          <p class="intro-text tagline"><%= @theme.descr %></p>
          <div class="wrapper tagline">
            <%= render('themes/details/'+@theme.name.downcase) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= link_to "Réserver mon voyage !", new_trip_path, class: 'btn btn-block btn-hop' %>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header -->
