<!-- Intro Header -->
<header class="intro">
  <div class="slideshow" data-images="<%= images_urls_from @theme.gallery %>"></div>
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="brand-heading tagline"><%= @theme.name %></h2>
          <p class="intro-text tagline"><%= @theme.descr %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= link_to "Créer un voyage !", new_trip_path, class: 'btn btn-lg btn-hop' %>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header -->
<% if @theme.style == 'around' %>
  <%= render 'warningoutoftokyo' %>
<% end %>
<%= render('themes/details/'+@theme.name.downcase) %>
