<!-- Intro Header -->
<header class="intro">
  <div class="slideshow" data-images="<%= images_urls_from @theme.gallery %>"></div>
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="empty-space"></div>
      </div>
      <div class="row tb-padding tagline text-left">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
          <h1><%= @theme.name %></h1>
          <hr>
          <p><%= @theme.descr %></p>
              <%= link_to "Préparer mon voyage", trips_path, class: "btn btn-block btn-hop" %>
              <%= link_to "Voir les autres thèmes", themes_path, class: "btn btn-block btn-hop" %>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header -->
<%= render('themes/details/'+@theme.name.downcase) %>

<section class="content-section text-center">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to "Voir les autres thèmes", themes_path, class: "btn btn-block btn-hop" %>
    </div>
  </div>
</section>
