<%= form_for livret, html: { multipart: true } do |f| %>

<% if livret.errors.any? %>
<div class="alert alert-warning">
  <% livret.errors.full_messages.each do |error| %>
    <%= error %>
  <% end %>
</div>
<% end %>
  <div class="form-group">
    <%= f.label :trip_id, class: 'form-control alert-danger' %>
    <%= f.text_field :trip_id, class: 'form-control alert-danger' %>
  </div>
  <div cass="form-group">
    <p class="tb-padding">Add book file below</p>
    <%= f.file_field :htmlbook, class: 'form-control' %>
  </div>
  <div class="form-group">
    <p class="tb-padding">Add maps file below</p>
    <% @livret.assets.each do |asset| %>
      <%= f.fields_for :assets, asset do |ff| %>
        <%= ff.file_field :map, class: 'form-control' %>
        <% end %>
    <% end %>
  </div>
  <%= f.submit 'Save !', class: 'btn btn-lg btn-block btn-success' %>
<% end %>
