<header class="business-header">
  <div class="slideshow"></div>
</header>

<section class="container content-section text-center tb-padding">
  <div class="row">
    <div class="box">  <div class="icon"><div class="image"><i class="fa fa-user"></i></div></div></div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h2>Bienvenue, <%= @user.account.name %></h2>
      <p>Vos informations de profil nous aident à planifier votre voyage. Nous vous remercions de nous informer
        de toute particularité qui pourrait affecter votre voyage.</p>
    </div>
  </div>
  <div class="row tb-padding">
    <div class="col-xs-12 col-md-3 col-md-offset-3">
      <%= link_to 'Modifier mon profil', edit_user_path(@user), class: 'btn btn-block btn-success' %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= link_to "Sécurité du compte", edit_user_registration_path(@user), class: 'btn btn-block btn-warning' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Mon nom</div>
        <div class="panel-body">
          <%= @user.account.name %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Mon email</div>
        <div class="panel-body">
          <%= @user.email %><br>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">A mon sujet</div>
        <div class="panel-body">
          <%= @user.account.about %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Informations importantes</div>
        <div class="panel-body">
          <%= @user.account.info %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render('shared/commercial') %>
