<h2>Welcome<%= @user.account.name %>.</h2>
  <h4>Your email : <%= @user.email %></h4>
    <%= render @account %>
  <%= link_to 'Edit your profile', edit_user_path(@user) %>
  <%= link_to "Signout", destroy_user_session_path, method: :delete %>
