
<!-- Header -->
<header class="intro-header">
    <div class="container">
        <div class="intro-message">
            <h3>Welcome <%= current_user.email + 'id:' + current_user.id.to_s %></h3>
            <h5>Choose your trip now !</h5>
            <hr class="intro-divider">
          <p>Design 2 button Full trip / Day trip ? </p>
        </div>
    </div>
</header>
<!-- Page Content -->
<section class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Show User / Root page</h2>
                <p class="lead"><%= link_to "Signout", destroy_user_session_path, method: :delete %></p>
            </div>
            <div class="col-lg-5 offset-lg-2">
              <%= image_tag('sete.jpeg', class: 'img-fluid') %>

            </div>
        </div>

    </div>
    <!-- /.container -->
</section>

<section class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 push-lg-7">
                <hr class="section-heading-spacer1">
                <div class="clearfix"></div>
                <h2 class="section-heading">Yo Pay money now !</h2>

                <%= form_tag charges_path do %>
                  <article>
                    <% if flash[:error].present? %>
                     <div id="error_explanation"><p><%= flash[:error] %></p></div>
                    <% end %>
                  <label class="amount">
                    <span>Amount: $5.00</span>
                  </label>
                </article>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="A month's subscription"
                      data-amount="500"
                        data-locale="auto"></script>
              <% end %>
              
          </div>
            <div class="col-lg-5 pull-lg-5">
                <%= image_tag('albi.jpeg', class: 'img-fluid') %>
            </div>
        </div>

    </div>
    <!-- /.container -->

</section>
<!-- /.content-section-b -->
