<!-- Intro Header -->
<header class="intro">
    <div class="slideshow"></div>
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="wrapper">
                    <div class="box"><div class="icon"><div class="image"><i class="fa fa-key"></i></div></div></div>
                    <h3 class="tagline">Mot de passe oublié ?</h3>
                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                      <div class="form-group">
                        <%= f.label :email, 'Votre email :', class: 'tagline' %><br />
                        <%= f.email_field :email, autofocus: true, class: 'form-control',
                                          placeholder: "Entrez votre email" %>
                      </div>
                      <div class="form-group">
                        <%= f.submit "Réinitialisez mon mot de passe", class: 'form-control btn btn-block btn-success' %>
                      </div>
                    <% end %>
                    <%= render "devise/shared/links" %>
                </div>
            </div>
        </div>
    </div>
</header>
