<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4 text-center">
          <div class="form-low-container">
            <div class="wrapper">
              <div class="box"><div class="icon"><div class="image"><i class="fa fa-key"></i></div></div></div>
              <h3>Mot de passe oublié ?</h3>
              <hr>

              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <div class="form-group">
                  <%= f.label :email, 'Votre email :' %><br />
                  <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.submit "Envoyez-moi un nouveau mot de passe", class: 'form-control btn btn-block btn-success' %>
                </div>
              <% end %>
              <hr>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>
