<section  id="info-row" class="content-section text-center">
  <div class="row tb-padding">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-star"></i></div></div></div>
      <hr>
      <h3>Une expèrience unique</h3>
      <p>Avec Tokyop! vous visiterez Tokyo et ses alentours comme personne : Votre séjour est organisé et personalisé
      entièrement par nos équipes locales. A l'aide de votre <%= link_to 'guide-livret', '#' %> ou bien accompagné d'un guide
      privé, vous profiterez d'une expèrience unique dans la capitale nipponne en toute sérénité.</p>
      <hr>
    </div>
  </div>
  <div class="row back-pink">
    <% if current_user %>
      <%= link_to "Réserver mon voyage", trips_path, class: "btn btn-block btn-hop" %>
    <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "btn btn-block btn-hop" %>
    <% end %>
  </div>
</section>
<section  id="info-row" class="content-section text-center back-green">
  <div class="row tb-padding">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-heart"></i></div></div></div>
      <hr>
      <h3>Tokyo Zen</h3>
      <p><strong>Visitez Tokyo totalement serein grâce à notre aide.</strong> Transport, visites, réservation, restaurants...
      Nous organisons vos journées et vos visites : vous êtes en vacances, détendez-vous !</p>
      <hr>
    </div>
  </div>
  <div class="row back-pink">
    <% if current_user %>
      <%= link_to "Réserver mon voyage", trips_path, class: "btn btn-block btn-hop" %>
    <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "btn btn-block btn-hop" %>
    <% end %>
  </div>
</section>

<section  id="info-row" class="content-section text-center">
  <div class="row bottom-space tb-padding">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-cogs"></i></div></div></div>
      <hr>
      <h3>Tokyo à la carte</h3>
      <p><Strong>Soyez sûr de passer un séjour idéal</strong> sans refaire les mêmes visites que tout le monde.
      Vos journées seront organisées spécialement pour vous, selon vos intérêts et vos préférences par nos guides
      locaux pour une expérience unique.</p>
    </div>
  </div>
  <div class="row back-pink">
    <% if current_user %>
      <%= link_to "Réserver mon voyage", trips_path, class: "btn btn-block btn-hop" %>
    <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "btn btn-block btn-hop" %>
    <% end %>
  </div>
</section>

<section  id="info-row" class="content-section text-center back-green">
  <div class="row tb-padding">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-hand-peace-o"></i></div></div></div>
      <hr>
      <h3>Pas de mauvaises surprises</h3>
      <p><strong>Maîtrisez totalement votre séjour : </strong>Ambiance, rythme, budget.. vous avez le contrôle
        sur tous les aspects de votre voyage.
      <hr>
    </div>
  </div>
  <div class="row back-pink">
    <% if current_user %>
      <%= link_to "Réserver mon voyage", trips_path, class: "btn btn-block btn-hop" %>
    <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "btn btn-block btn-hop" %>
    <% end %>
  </div>
</section>

<section  id="info-row" class="content-section text-center">
  <div class="row bottom-space tb-padding">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-book"></i></div></div></div>
      <hr>
      <h3>Votre guide-livret</h3>
      <p><strong>Votre séjour dans votre guide-livret !</strong> Cartes, informations pour les transports et les accès,
      prix des visites, conseils et astuces de nos guides... toutes les informations nécessaires ainsi que le planning détaillé
      de vos journées sont réunis dans votre guide-livret. Suivez le guide et profitez.</p>
      <%= link_to 'Voir un exemple de guide-livret', "#" %>
      <hr>
    </div>
  </div>
  <div class="row back-pink">
    <% if current_user %>
      <%= link_to "Réserver mon voyage", trips_path, class: "btn btn-block btn-hop" %>
    <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "btn btn-block btn-hop" %>
    <% end %>
  </div>
</section>

<section  id="info-row" class="content-section text-center back-green">
  <div class="row tb-padding">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-street-view"></i></div></div></div>
      <hr>
      <h3>Avec votre guide privé</h3>
      <p><Strong>Ajoutez un guide privé</strong> et profiter d'un expert local parlant français pour vous guider tout
      au long de votre journée. </p>
      <hr>
    </div>
  </div>
  <div class="row back-pink">
    <% if current_user %>
      <%= link_to "Réserver mon voyage", trips_path, class: "btn btn-block btn-hop" %>
    <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "btn btn-block btn-hop" %>
    <% end %>
  </div>
</section>
