<section  id="info-row" class="content-section text-center">
  <div class="row tb-padding">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-star"></i></div></div></div>
      <h2>Découvrir Tokyo</h2>
    </div>
  </div>
  <div class="row text-left">
    <div class="col-xs-12 col-md-4">
      <p>
        <strong>Découvrir Tokyo</strong> est une expérience unique, mais parfois, difficile à organiser. Des immenses sanctuaires
       aux charmants endroits cachés de la capitale, Tokyhop vous guide pas-à-pas et crée avec vous une expérience inoubliable sur mesure.
      </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <p>
        <strong>Nos experts locaux</strong> composent avec vous <%= link_to 'votre voyage', trips_path %>  selon vos souhaits
        et préparent votre <%= link_to 'guide-livret', preview_path %> personnel.  Pratique et détaillé, il vous guide
        pas-à-pas en toute tranquillité pendant votre séjour. Evitez les soucis de dernière minute en confiant votre organisation
        à nos équipes locales.
      </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <p>
        <strong>Un Tokyo secret</strong> et charmant se laisse découvrir aux initiés. Nous accordons une grande importance
        à vous faire découvrir la véritable âme de Tokyo en sortant des sentiers battus. Selon vos goûts, nous sélectionnons
        les visites, restaurants et activités qui vous correspondent.
      </p>
    </div>
  </div>
</section>

<%= render('shared/3steps') %>

<section class="intro">
  <div class="commercial-background background-image-01">
      <!-- background image div -->
  </div>
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="empty-space"></div>
      </div>
      <div class="row tb-padding tagline text-left">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
          <h1>Découvrez Tokyo</h1>
          <hr>
          <h3>A partir de 20€ / Jour</h3>
          <p>Recevez un programme fait sur mesure par des experts locaux et découvrez un Tokyo
          authentique et secret.</p>
            <% if current_user %>
              <%= link_to "Préparer mon voyage", trips_path, class: "btn btn-block btn-hop" %>
            <% else %>
              <%= link_to "Se connecter", new_user_session_path, class: "btn btn-block btn-hop" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


<section  id="info-row" class="content-section text-center">
  <div class="row tb-padding">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-heart"></i></div></div></div>
      <hr>
      <h2 class="tb-padding">Une expérience unique</h2>
      <p class="text-left"><%= link_to 'Que faire à Tokyo ?', themes_path %> Nous vous proposons une réponse personnelle et adaptée à vos souhaits. Avec Tokyhop,
        vous maîtrisez tous les aspects de votre voyage. Du budget aux restaurants, du rythme de vos journées à leur
        ambiance, de vos passions à vos envies, nous écoutons tous vos souhaits pour vous proposer <strong>votre</strong>
        expérience.<br>
        <strong>Simplement et rapidement,</strong> vous <%= link_to 'personnalisez votre séjour', trips_path %> en ligne depuis le site Tokyhop et choisissez <%= link_to 'les thèmes', themes_path %> de vos
        journées. Attentives à tous vos souhaits, nos équipes composent alors le programme de votre séjour à Tokyo.<br>
        <strong>Un programme fait avec passion,</strong> uniquement pour vous, et qui ne se contente pas des sites incontournables. Vous découvrirez
        aussi un Tokyo local et véritable, hors des sentiers battus. Vous profiterez des conseils de nos experts locaux pour
        découvrir des endroits cachés généralement innaccéssibles aux voyageurs.<br>
        Directions à prendre, que visiter, où vous restaurer, quelles boutiques sont intéressantes... Entièrement personnalisé
        pour vous par nos équipes, votre <%= link_to 'guide-livret', preview_path %> prend en compte la météo et les événements
        locaux pour vous proposer une journée inoubliable et unique à Tokyo.</p>
    <hr>
    </div>
  </div>
</section>

<section  id="info-row" class="content-section text-center">
  <div class="row bottom-space tb-padding">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-cogs"></i></div></div></div>
      <hr>
      <h2 class="tb-padding">Un séjour serein</h2>
      <p class="text-left"><strong>Un séjour à Tokyo </strong>n'est pas toujours facile. Pays lointain aux coutumes si différentes, langue mystérieuse et réseau de
        transports abracadabrantesque, nous vous délestons de tous ses tracas logistiques en organisant vos journées de A à Z pour que vous
        puissiez profiter pleinement de la magie de Tokyo sans stress.<br>
        <strong>Nos guides partagent</strong> avec vous leurs découvertes et leur passion à travers votre programme. Mangez dans de délicieux
        restaurants locaux, déambulez dans des ruelles vibrantes encore du charme de l'ancienne Edo et découvrez des boutiques
        originales, antres de collectionneurs passionnés.<br>
        Votre <%= link_to 'guide-livret', preview_path %> vous guide pas-à-pas, depuis votre hôtel, tout au long de votre journée.
        Facile à utiliser, votre guide vous indique quels transports emprunter et vous guide avec des indications claires et faciles
        ainsi qu'avec des cartes personnelles montrant votre parcours et les centres d'intérêts.<br>
        Votre <%= link_to 'guide-livret', preview_path %> est disponible en ligne à tout moment et peut-être facilement imprimé
        à volonté.</p>
      <hr>
    </div>
  </div>
</section>

<section  id="info-row" class="content-section text-center">
  <div class="row tb-padding">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-hand-peace-o"></i></div></div></div>
      <hr>
      <h2 class="tb-padding">Une équipe passionnée</h2>
      <p class="text-left"><strong>Nos experts locaux</strong> comptent des Japonais passionnés de leurs villes, mais aussi des
        Français vivant à Tokyo depuis de nombreuses années. Cosmopolite et jeune, notre équipe a pour vocation
        de faire découvrir un Tokyo authentique et original.<br>
        Basés à Tokyo, nous sommes à votre écoute avant et pendant votre séjour pour que votre expérience y soit la plus douce
        possible. Nous mettons à votre service notre amour du Japon et de Tokyo afin que vous puissiez profiter de toutes
        les découvertes de nos équipes.<br>
        Vous pouvez nous <%= link_to 'contacter par email', '#contact-row' %> si vous avez la moindre question sur votre prochain séjour.</p>
    <hr>
    </div>
  </div>
  <div class="row tb-padding">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <% if current_user %>
        <%= link_to "Préparer mon voyage", trips_path, class: "btn btn-block btn-hop" %>
        <% else %>
        <%= link_to "Se connecter", new_user_session_path, class: "btn btn-block btn-hop" %>
        <% end %>
      </div>
  </div>
</section>

<section class="intro">
  <div class="commercial-background background-image-02">
      <!-- background image div -->
  </div>
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="empty-space"></div>
      </div>
      <div class="row tb-padding tagline text-left">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
          <h1>Une expérience unique</h1>
          <hr>
          <h3>Maitrisez votre voyage</h3>
          <p>Personalisez votre séjour et partez en toute confiance : une équipe d'experts locaux veille
          pour s'assurer que votre voyage se passe sans aucun souci.</p>
            <% if current_user %>
              <%= link_to "Préparer mon voyage", trips_path, class: "btn btn-block btn-hop" %>
            <% else %>
              <%= link_to "Se connecter", new_user_session_path, class: "btn btn-block btn-hop" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
