<div>
  <p>Date <%= day.date %></p>
  <p><%= day.theme.name %> | id: <%= day.theme.id %></p>
  <p>Day id :  <%= day.id %></p>
  <p>Comment : <%= day.comment %></p>
  <% if day.lunch.todo %>
  <p>
    We book a lunch for you !  <strong>Style:</strong> <%= day.lunch.style %>
  </p>
  <% end %>
  <% if day.dinner.todo %>
  <p>
    We book a dinner for you ! <strong>Style :</strong><%= day.dinner.style %>
  <p>
  <% end %>
</div>
<%= link_to 'Show day', trip_day_path(@trip, day) %>
<%= link_to 'Edit day', edit_trip_day_path(@trip, day) %>
<%= link_to "Delete this day", trip_day_path(@trip, day), method: :delete %>
