<div class="col-sm-4 text-center">
    <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
    <h2><%= day.theme.name %> - <%= day.date %></h2>
    <p><%= day.theme.descr %></p>
    <%= link_to 'Details', trip_day_path(@trip, day) %> |
    <%= link_to 'Modifier', edit_trip_day_path(@trip, day) %> |
    <%= link_to "Supprimer", trip_day_path(@trip, day), method: :delete, data: {confirm: "Delete this trip ?"} %>
</div>
