<div class="col-md-4 text-center">
    <%= image_tag "shibuya.jpg", class: "img-circle img-responsive img-center" %>
    <h2><%= day.theme.name %> - <%= day.date %></h2>
    <p><%= day.theme.descr %></p>
    <%= link_to 'Details', trip_day_path(@trip, day) %> |
    <%= link_to 'Modifier', edit_trip_day_path(@trip, day) %> |
    <%= link_to "Supprimer", trip_day_path(@trip, day), method: :delete, data: {confirm: "Delete this trip ?"} %>
</div>
