<div class="col-md-4 col-sm-6 text-center">
  <%= image_tag day.theme.image, class: "img-circle img-center" %>
    <h3><%= day.theme.name %></h3>
    <h4><%= day.date %></h4>
    <div class="row">
      <% if day.lunch.todo %>
      <span class="label label-success"><i class="fa fa-check"></i>Déjeuner prévu !</span>
      <% end %>
      <% if day.dinner.todo %>
      <span class="label label-success"><i class="fa fa-check"></i>Dinner prévu !</span>
      <% end %>
      <% if day.guide %>
      <span class="label label-success"><i class="fa fa-check"></i>Avec un guide personel !</span>
      <% end %>
      <span class="label label-success"><i class="fa fa-check"></i>Mon plan de voyage personalisé inclus !</span>
    </div><br>
    <%= link_to 'Details', trip_day_path(@trip, day) %>
    <% if @trip.gestion.status == 'new' %>
      | <%= link_to 'Modifier', edit_trip_day_path(@trip, day) %>
      | <%= link_to "Supprimer", trip_day_path(@trip, day), method: :delete, data: {confirm: "Delete this trip ?"} %>
    <% end %>
</div>
