<header class="business-header">
  <div class="slideshow"></div>
</header>

<%= form_for [trip, day] do |f| %>
<section class="container content-section tb-padding">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-calendar"></i></div></div></div>
      <h3 class="bottom-space">Date de votre journée</h3>
      <div class="form-group">
        <%= f.date_field :date, class: 'input-lg' %>
        <% if day.errors.full_messages_for(:date).any? %>
        <div class="alert alert-warning">
          <% day.errors.full_messages_for(:date).each do |error| %>
            <%= error %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Je souhaite un guide privé pour m'accompagner toute la journée.</strong> <i>(+ 215€)</i>
          <div class="material-switch pull-right">
            <%= f.check_box :guide, id: "get-a-guide" %>
            <label for="get-a-guide" class="label-success"></label>
          </div>
        </li>
      </ul>
    </div>
  </div>
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-success"><i class="fa fa-check"></i>
          L'élaboration de votre parcours personnel et de votre guide-livret est inclue automatiquement pour votre séjour.
        </div>
      </div>
    </div>

    <div class="row text-center tb-padding">
      <div class="col-md-8 col-md-offset-2">
        <div class="box"><div class="icon"><div class="image"><i class="fa fa-cutlery"></i></div></div></div>
        <h3 class="text-center bottom-space">Vos repas</h3>
      </div>
    </div>

    <div class="row bottom-space">
      <div class="col-md-6">
        <%= f.fields_for :lunch do |ff| %>
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Oui, réservez mon déjeuner !</strong>
              <div class="material-switch pull-right">
                <%= ff.check_box :todo, id: "lunchbox" %>
                <label for="lunchbox" class="label-success"></label>
              </div>
            </li>
          </ul>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-2">
              <ul class="list-group">
                <li class="list-group-item">
                  Cuisine simple / déjeuner sur le pouce
                  <div class="material-switch pull-right">
                    <%= ff.radio_button :style, 1, id: 'fast-lunch' %>
                    <label for="fast-lunch" class="label-success"></label>
                  </div>
                </li>
                <li class="list-group-item">
                  Cuisine locale / restaurant familial
                  <div class="material-switch pull-right">
                    <%= ff.radio_button :style, 2, id: 'local-lunch', checked: :true %>
                    <label for="local-lunch" class="label-success"></label>
                  </div>
                </li>
                <li class="list-group-item">
                  Cuisine élaborée / expérience gastronomique
                  <div class="material-switch pull-right">
                    <%= ff.radio_button :style, 3, id: 'gastro-lunch' %>
                    <label for="gastro-lunch" class="label-success"></label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.fields_for :dinner do |ff| %>
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Oui, réservez mon Diner !</strong>
              <div class="material-switch pull-right">
                <%= ff.check_box :todo, id: "dinnerbox" %>
                <label for="dinnerbox" class="label-success"></label>
              </div>
            </li>
          </ul>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-2">
              <ul class="list-group">
                <li class="list-group-item">
                  Diner simple / petit restaurant local
                  <div class="material-switch pull-right">
                    <%= ff.radio_button :style, 1, id: 'fast-dinner' %>
                    <label for="fast-dinner" class="label-success"></label>
                  </div>
                </li>
                <li class="list-group-item">
                  Cuisine de qualité / restaurant de quartier
                  <div class="material-switch pull-right">
                    <%= ff.radio_button :style, 2, id: 'local-dinner', checked: :true %>
                    <label for="local-dinner" class="label-success"></label>
                  </div>
                </li>
                <li class="list-group-item">
                  Cuisine gastronomique / restaurant haut de gamme
                  <div class="material-switch pull-right">
                    <%= ff.radio_button :style, 3, id: 'gastro-dinner' %>
                    <label for="gastro-dinner" class="label-success"></label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <div class="box"><div class="icon"><div class="image"><i class="fa fa-star"></i></div></div></div>
        <h2>Choisissez un thème pour votre journée</h2>
      </div>
    </div>

    <div class="row bottom-space">
      <% if day.errors.full_messages_for(:theme).any? %>
      <div class="alert alert-warning">
        <% day.errors.full_messages_for(:theme).each do |error| %>
          <%= error %>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="row text-center tb-padding">
      <div class="col-md-8 col-md-offset-2">
        <h3>Une ambiance</h3>
        <p class="small-text">Choisissez une ambiance pour votre journée.</p>
      </div>
    </div>
    <div class="row">
      <% @themes_by_theme.each do |theme| %>
        <div class="col-xs-6 col-sm-4 col-md-3 text-center">
          <div class="thumbnail-container">
            <%= f.label("theme_id_#{theme.id}", class: "radio-thumbnail") do
              f.radio_button(:theme_id, theme.id) + image_tag(theme.image,
              class: 'img-responsive img-center thumbnail')
            end %>
            <h4 class="tagline text-center"><%= theme.name %></h4>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row text-center tb-padding">
      <div class="col-md-8 col-md-offset-2">
        <h3>Un quartier</h3>
        <p class="small-text">Explorez Tokyo quartier par quartier.</p>
      </div>
    </div>
    <div class="row">
      <% @themes_in_tokyo.each do |theme| %>
        <div class="col-xs-6 col-sm-4 col-md-3 text-center">
          <div class="thumbnail-container">
            <%= f.label("theme_id_#{theme.id}", class: "radio-thumbnail") do
              f.radio_button(:theme_id, theme.id) + image_tag(theme.image,
              class: 'img-responsive img-center thumbnail')
            end %>
            <h4 class="tagline text-center"><%= theme.name %></h4>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row text-center tb-padding">
      <div class="col-md-8 col-md-offset-2">
        <h3>Une escapade</h3>
        <p class="small-text">Echappez-vous de Tokyo pour une journée et découvrez les alentours.</p>
      </div>
    </div>
    <div class="row">
      <% @themes_out_tokyo.each do |theme| %>
        <div class="col-xs-6 col-sm-4 col-md-3 text-center">
          <div class="thumbnail-container">
            <%= f.label("theme_id_#{theme.id}", class: "radio-thumbnail") do
              f.radio_button(:theme_id, theme.id) + image_tag(theme.image,
              class: 'img-responsive img-center thumbnail')
            end %>
            <h4 class="tagline text-center"><%= theme.name %></h4>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row tb-padding">
      <div class="col-md-8 col-md-offset-2">
        <%= f.text_area :comment, class: "form-control", rows: 5,
              placeholder: "Une demande spéciale pour cette journée ? Dites nous tout ce qui vous semble nécessaire !" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= f.submit 'Enregistrer', class: 'btn btn-block btn-success btn-lg' %>
        <% end %>
      </div>
    </div>

  </div>
</section>
