<%= form_for [trip, day] do |f| %>
  <% if day.errors.any? %>
    <div>
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>
  <div>
    <%= f.label :theme %>
    <% Theme.all.each do |theme| %>
      <%= f.radio_button( :theme_id,  theme.id ) %>
      <%= label theme.id, theme.name %>
    <% end %>
  </div>
  <div>
    <h5>Lunch</h5>
    <%= f.fields_for :lunch do |ff| %>
      <%= ff.label "Book a lunch ?" %><%= ff.check_box :todo %>
      <%= ff.radio_button :style, 1 %>
      <%= ff.label :style_gastro, "Gastrononmic experience" %>
      <%= ff.radio_button :style, 2, checked: true %>
      <%= ff.label :style_gastro, "Local experience" %>
      <%= ff.radio_button :style, 3 %>
      <%= ff.label :style_gastro, "Original experience" %>
      <%= ff.label :comment %>
      <%= ff.text_field :comment %>
    <% end %>
    </p>
  </div>
  <div>
    <h5>Dinner</h5>
    <%= f.fields_for :dinner do |ff| %>
      <%= ff.label "Book a dinner ?" %><%= ff.check_box :todo %>
      <%= ff.radio_button :style, 1 %>
      <%= ff.label :style_gastro, "Gastrononmic experience" %>
      <%= ff.radio_button :style, 2, checked: true %>
      <%= ff.label :style_gastro, "Local experience" %>
      <%= ff.radio_button :style, 3 %>
      <%= ff.label :style_gastro, "Original experience" %>
      <%= ff.label :comment %>
      <%= ff.text_field :comment %>
    <% end %>
    </p>
  </div>
  <p>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </p>
  <div>
    <%= f.submit %>
  </div>
<% end %>
