<header class="intro">
  <div class="slideshow" data-images="<%= @images %>"></div>
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="empty-space"></div>
      </div>
      <div class="row tb-padding tagline text-left">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
          <h1><%= @day.theme.name.capitalize %></h1>
          <hr>
          <h3><%= l(@day.date, format: '%A %d %B %Y') %></h3>
          <p><%= @day.theme.descr %></p>
          <%= link_to "Planning du séjour", "#day-row", class: "btn btn-block btn-hop" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
          <div class="alert alert-success"><i class="fa fa-check"></i>
            Votre recevrez votre programme de visite sur mesure pour cette journée.
          </div>
          <% if @day.lunch.todo %>
          <div class="alert alert-success"><i class="fa fa-check"></i>
            Nous organisons votre déjeuner pour cette journée !
          </div>
          <% end %>
          <% if @day.dinner.todo %>
          <div class="alert alert-success"><i class="fa fa-check"></i>
            Un programme de visite personnel est prévu pour cette journée.
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>

<%= render('themes/details/'+@day.theme.name.downcase) %>

<section id="day-row" class="container content-section text-center">
  <div class="row tb-padding">
    <div class="col-md-10 col-md-offset-1">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-cutlery"></i></div></div></div>
      <h2>Mon déjeuner</h2>
    </div>
  </div>
  <div class="row">
    <% if @day.lunch.todo %>
      <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
        <span><i class="fa fa-check"></i></span>
        Nous organisons votre déjeuner !
      </div>
      <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
        <% if @day.lunch.style == 1 %>
          <span><i class="fa fa-check"></i></span>
          Vous avez choisi un déjeuner <strong>sur le pouce</strong> : un repas simple et
          rapide sur le parcours de vos visites.
        <% elsif @day.lunch.style == 2 %>
          <span><i class="fa fa-check"></i></span>
          Vous avez choisi un déjeuner <strong>local</strong> : un déjeuner japonais typique dans un restaurant de quartier.
        <% elsif @day.lunch.style ==3 %>
          <span><i class="fa fa-check"></i></span>
          Vous avez choisi un déjeuner <strong>gastronomique</strong> : un déjeuner dont vous vous souviendrez dans un restaurant haut de gamme.
        <% end %>
      </div>
      <% else %>
      <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-warning'>
        <span><i class="fa fa-times"></i></span>
        Nous n'organisons pas votre déjeuner.
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <% if @trip.gestion.status == 'new' %>
        <%= link_to "Modifier ma journée", edit_trip_day_path(@trip, @day), class: "btn btn-block btn-success" %>
      <% end %>
      <%= link_to "Planning du séjour",  trip_path(@trip), class: "btn btn-block btn-hop" %>
    </div>
  </div>
  <div class="row tb-padding">
    <div class="col-md-10 col-md-offset-1">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-cutlery"></i></div></div></div>
      <h2>Mon dîner</h2>
    </div>
  </div>
  <div class="row">
    <% if @day.dinner.todo %>
      <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
        <span><i class="fa fa-check"></i></span>
        Nous organisons votre dîner !
      </div>
      <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
        <% if @day.dinner.style == 1 %>
          <span><i class="fa fa-check"></i></span>
          Vous avez choisi un dîner <strong>local</strong> : un dîner dans un restaurant traditionnel familial.
        <% elsif @day.dinner.style == 2 %>
          <span><i class="fa fa-check"></i></span>
          Vous avez choisi un dîner <strong>élaboré</strong> : une cuisine de qualité pour un dîner japonais exceptionnel.
        <% elsif @day.dinner.style ==3 %>
          <span><i class="fa fa-check"></i></span>
          Vous avez choisi un dîner <strong>gastronomique</strong> : Un dîner dans l'un des meilleurs restaurants de la capitale.
        <% end %>
      </div>
      <% else %>
      <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-warning'>
        <span><i class="fa fa-times"></i></span>
        Nous n'organisons pas votre dîner.
      </div>
    <% end %>
  </div>
  <div class="row bottom-space">
    <div class="col-sm-6 col-sm-offset-3">
      <% if @trip.gestion.status == 'new' %>
        <%= link_to "Modifier ma journée", edit_trip_day_path(@trip, @day), class: "btn btn-block btn-success" %>
      <% end %>
      <%= link_to "Planning du séjour",  trip_path(@trip), class: "btn btn-block btn-hop" %>
    </div>
</section>
<% if @day.comment.present? %>
<hr>
<section id="day-row" class="container content-section text-left">
  <div class="row tb-padding">
    <div class="col-xs-12">
      <h4>Commentaire : </h4>
      <p><%= @day.comment %></p>
    </div>
  </div>
</section>
<% end %>
