<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <h3 class="brand-heading tagline"><%= @day.theme.name.capitalize %></h3>
        <p class="intro-text tagline">Prévu pour le <%= @day.date %>.</p>
        <p class="tagline small-text"><%= @day.theme.descr %></p>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-offset-3">
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header -->
<section id="day-row" class="container content-section text-center">
  <div class="header-wrapper">
    <div class="row bottom-space">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-cutlery"></i></div></div></div>
      <h2>Mn déjeuner</h2>
    </div>
    <div class="row">
      <% if @day.lunch.todo %>
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
          <span><i class="fa fa-check"></i></span>
          Nous organisons votre déjeuner !
        </div>
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
          <% if @day.lunch.style == 1 %>
            <span><i class="fa fa-check"></i></span>
            Vous avez choisi un déjeuner <strong>sur le pouce</strong> : Nous privéligerions un déjeuner simple et
            rapide mais toujours de qualité et local.
          <% elsif @day.lunch.style == 2 %>
            <span><i class="fa fa-check"></i></span>
            Vous avez choisi un déjeuner <strong>local</strong> : Restaurant local et simple de ouf toutssa
          <% elsif @day.lunch.style ==3 %>
            <span><i class="fa fa-check"></i></span>
            Vous avez choisi un déjeuner <strong>gastronomique</strong> : Top du top, mega budget mega qualité
          <% end %>
        </div>
        <% else %>
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-warning'>
          <span><i class="fa fa-times"></i></span>
          Nous n'organisons pas votre déjeuner.
        </div>
      <% end %>
    </div>
    <div class="row bottom-space">
      <div class="col-sm-6 col-sm-offset-3">
        <%= link_to "Modifier ma journée", edit_trip_day_path(@trip, @day), class: "btn btn-block btn-success" %>
        <%= link_to "Voir mon voyage",  trip_path(@trip), class: "btn btn-block btn-success" %>
      </div>
    </div>
    <div class="row bottom-space">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-cutlery"></i></div></div></div>
      <h2>Mon diner</h2>
    </div>
    <div class="row">
      <% if @day.dinner.todo %>
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
          <span><i class="fa fa-check"></i></span>
          Nous organisons votre diner !
        </div>
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-success'>
          <% if @day.dinner.style == 1 %>
            <span><i class="fa fa-check"></i></span>
            Vous avez choisi un diner <strong>sur le pouce</strong> : Nous privéligerions un déjeuner simple et
            rapide mais toujours de qualité et local.
          <% elsif @day.dinner.style == 2 %>
            <span><i class="fa fa-check"></i></span>
            Vous avez choisi un diner <strong>local</strong> : Restaurant local et simple de ouf toutssa
          <% elsif @day.dinner.style ==3 %>
            <span><i class="fa fa-check"></i></span>
            Vous avez choisi un diner <strong>gastronomique</strong> : Top du top, mega budget mega qualité
          <% end %>
        </div>
        <% else %>
        <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 alert alert-warning'>
          <span><i class="fa fa-times"></i></span>
          Nous n'organisons pas votre diner.
        </div>
      <% end %>
    </div>
    <div class="row bottom-space">
      <div class="col-sm-6 col-sm-offset-3">
        <%= link_to "Modifier ma journée", edit_trip_day_path(@trip, @day), class: "btn btn-block btn-success" %>
        <%= link_to "Voir mon voyage",  trip_path(@trip), class: "btn btn-block btn-success" %>
      </div>
    </div>
  </div>
</section>
