<!-- Intro Header -->
<header class="intro">
  <div class="slideshow"></div>
  <div class="intro-body">
    <div class="container">
      <div class="row bottom-space">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading tagline">TOKYOP!</h1>
          <p>Hop, Tokyo à la carte !</p>
        </div>
      </div>
      <div class="row bottom-space">
        <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
          <% if current_user %>
            <%= link_to 'Voyagez!', trips_path, class: "btn btn-block btn-hop" %>
          <% else %>
            <%= link_to 'Se connecter', user_session_path, class: "btn btn-hop btn-block" %>
            <%= link_to 'Créer un compte', new_user_session_path, class: "btn btn-hop btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
<%= render('shared/infos') %>
<%= render ('shared/commercial') %>
<%= render ('shared/contact') %>
