<!-- Intro Header -->
<header class="intro">
  <div class="slideshow"></div>
  <div class="intro-body">
    <div class="container">
      <div class="row bottom-space">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading tagline">TOKYOP!</h1>
          <p>Hop, Tokyo à la carte !</p>
        </div>
      </div>
      <div class="row bottom-space">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <% if current_user %>
            <%= link_to 'Informations', "#info-row", class: "btn btn-block btn-hop btn-xs" %>
            <%= link_to 'Contactez-nous',"#contact-row", class: "btn btn-block btn-hop btn-xs" %>
          <% else %>
            <%= link_to 'Se connecter', user_session_path, class: "btn btn-hop btn-block btn-xs" %>
            <%= link_to 'Créer un compte', new_user_session_path, class: "btn btn-hop btn-block btn-xs" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
<%= render('shared/infos') %>
<%= render ('shared/commercial') %>
<%= render ('shared/contact') %>
