<!-- Intro Header -->
<header class="intro">
  <div class="slideshow"></div>
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div class="wrapper">
                    <div class="box"><div class="icon"><div class="image"><i class="fa fa-sign-in"></i></div></div></div>
                    <h3 class="tagline">Se connecter</h3>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
                    <div class="form-group">
                        <%= f.email_field :email, placeholder: 'Entrez votre email', :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.password_field :password, autocomplete: "off", placeholder: 'Entrez votre mot de passe',
                                           :class => 'form-control' %>
                    </div>
                    <div class="checkbox tagline">
                      <% if devise_mapping.rememberable? -%>
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me, 'Se souvenir de moi' %>
                      <% end %>
                    </div>
                    <div class="form-group">
                      <strong><%= f.submit "Se connecter !", :class => 'form-control btn btn-success btn-block' %></strong>
                      <% end %>
                      <hr>
                      <%= link_to raw("<i class='fa fa-facebook fa-fw'></i> <span class='network-name'>Se connecter via Facebook</span>"),
                      omniauth_authorize_path(resource_name, :facebook), :class => "btn btn-block btn-social btn-facebook" %>
                      <%= link_to raw("<i class='fa fa-twitter fa-fw'></i> <span class='network-name'>Se connecter via Twitter</span>"),
                      omniauth_authorize_path(resource_name, :facebook), :class => "btn btn-block btn-social btn-twitter" %>
                    </div>

                      <%= render "devise/shared/links" %>

                  </div>
                </div>
            </div>
        </div>
    </div>
</header>
