
<div class='row'>
  <h2>Log in</h2>
</div>

<div class='row'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: 'Enter your email' %>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Enter your password' %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
  <div class='col-md-2'></div>
</div>
<div class='row'>

</div>
<div class='row'>
  <div class ='col-md-2'></div>
  <div class ='col-md-8'>
    No account yet ? <%= link_to 'Sign up here !', new_user_registration_path %>
    Forgot your password ? <%= link_to 'Get a new one !', new_password_path(:user), :class => "login-link" %>
  </div>
  <div class ='col-md-2'></div>
</div>
<div class='row'>
  Wanna know more ? <%= link_to 'Return to homepage', root_path %>
</div>
