<li>
  <strong>TripID:<%= payed_trip.id %></strong> | <%= payed_trip.name %> | <%= payed_trip.user.email %> |
  <%= payed_trip.adults %>adults & <%= payed_trip.kids %> kids<br>
  <%= payed_trip.price %>€
  <% if payed_trip.livret %>
    <%= link_to "Edit Livret", edit_livret_path(payed_trip.livret), class: 'btn btn-xs btn-info' %>
  <% else %>
    <%= link_to "Add Livret", new_livret_path(trip_id: payed_trip.id), class: 'btn btn-xs btn-info' %>
  <% end %>
  <%= link_to 'Show trip', payed_trip, class: 'btn btn-warning btn-xs' %>
</li>
