<li>
  <h3>TripID:<%= payed_trip.id %></h3>
  <h5><%= link_to 'Show trip', payed_trip %></h5>
  <p>Name : <%= payed_trip.name %> | for user : <%= payed_trip.user.email %></p>
  <p>Adult : <%= payed_trip.adults %> & Kids : <%= payed_trip.kids %></p>
  <%= link_to "Finalize this Trip", trip_gestion_path(payed_trip, payed_trip.gestion,
              :status => :final), :method => :put, :data => {:confirm => 'Finalize this trip ?'},
              class: 'btn btn-success' %>
</li>
