<!-- Header -->
<header class="business-header">
  <div class="slideshow"></div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="tagline">ADMIN CONTROL CENTER</h1>
    </div>
  </div>
</header>
<!-- Header -->
<section class="container content-section">
    <div class="row">
      <div class="col-xs-12">
        <p><%= @users_regitered %> users enregitrés</p>
        <p><%= @trips_total %> trips saved</p>
        <ul>
          <p>5 Last trips saved :</p>
          <% @last_trips.each do |trip| %>
            <li><%= trip.id %> | <%= trip.user.email %> >>> <%= link_to 'Show', trip %></li>
          <% end %>
        </ul>
      </div>
    </div>
</section>
<hr>
<section class="container content-section">
  <div class="row">
    <div class="col-xs-12">
      <h3>Pending Trip</h3>
      <p>Below are trip with status "pending" : Review and approve</p>
      <ol>
        <%= render partial: 'pending_trip', collection: @pending_trips %>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Payed Trip</h3>
      <p>Below are trip with status "payed", Do livret and confirm it</p>
      <ol>
        <%= render partial: 'payed_trip', collection: @payed_trips %>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Final Trip</h2>
      <p>Final Trip, guy comming</p>
      <ol>
        <%= render partial: 'final_trip', collection: @final_trips %>
      </ol>
    </div>
  </div>
</section>
<hr>
<section class="container content-section">
  <div class="row">
    <div class="col-xs-12">
      <h4>Themes management</h4>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Descr</th>
            <th>Image</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @themes.each do |theme| %>
            <tr>
              <td><%= theme.name %></td>
              <td><%= theme.descr %></td>
              <td><%= theme.image %></td>
              <td><%= link_to 'Show', theme, class: 'btn btn-default btn-xs' %></td>
              <td><%= link_to 'Edit', edit_theme_path(theme), class: 'btn btn-warning btn-xs' %></td>
              <td><%= link_to 'Destroy', theme, class: 'btn btn-danger btn-xs',
               method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Theme', new_theme_path, class: 'btn btn-success' %>
    </div>
  </div>
</section>
