<header class="business-header">
  <p class="bottom-space"></p>
  <h1 class="tagline">ADMIN CONTROL PAGE</h1>
</header>

<div>

  <p id="notice"><%= notice %></p>

  <h1>Themes</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Descr</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @themes.each do |theme| %>
        <tr>
          <td><%= theme.name %></td>
          <td><%= theme.descr %></td>
          <td><%= theme.image %></td>
          <td><%= link_to 'Show', theme %></td>
          <td><%= link_to 'Edit', edit_theme_path(theme) %></td>
          <td><%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Theme', new_theme_path %>

</div>

<h2>Pending Trip</h2>
<p>Below are trip with status "pending", waiting to be approved before to send
  payment link</p>
<ol>
  <%= render partial: 'pending_trip', collection: @pending_trips %>
</ol>

<h2>Payed Trip</h2>
<p>Below are trip with status "payed", waiting review and confirm from us</p>
<p>From customer perspective this is a BOOKED TRIP, guy already payed !</p>
<ol>
  <%= render partial: 'payed_trip', collection: @payed_trips %>
</ol>

<h2>Final Trip</h2>
<p>Below are trip who have been finalized. Thats means customer is coming.</p>
<ol>
  <%= render partial: 'final_trip', collection: @final_trips %>
</ol>
