<!-- Header -->
<header class="business-header">
  <div class="slideshow"></div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="tagline">ADMIN CONTROL CENTER</h1>
    </div>
  </div>
</header>
<!-- Header -->
<section class="container content-section">
  <div class="header-wrapper">
    <div class="row">
      <p><%= @users_regitered %> users enregitrés</p>
    </div>
    <div class="row bottom-space">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Descr</th>
            <th>Image</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @themes.each do |theme| %>
            <tr>
              <td><%= theme.name %></td>
              <td><%= theme.descr %></td>
              <td><%= theme.image %></td>
              <td><%= link_to 'Show', theme, class: 'btn btn-default btn-xs' %></td>
              <td><%= link_to 'Edit', edit_theme_path(theme), class: 'btn btn-warning btn-xs' %></td>
              <td><%= link_to 'Destroy', theme, class: 'btn btn-danger btn-xs',
               method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Theme', new_theme_path, class: 'btn btn-success' %>
    </div>
  </div>
</section>

<section class="container content-section">
  <div class="header-wrapper">
    <div class="row bottom-space">
      <h2>Pending Trip</h2>
      <p>Below are trip with status "pending", waiting to be approved before to send
        payment link</p>
      <ol>
        <%= render partial: 'pending_trip', collection: @pending_trips %>
      </ol>
    </div>
  </div>
</section>

<section class="container content-section">
  <div class="header-wrapper">
    <div class="row bottom-space">
      <h2>Payed Trip</h2>
      <p>Below are trip with status "payed", waiting review and confirm from us</p>
      <p>From customer perspective this is a BOOKED TRIP, guy already payed !</p>
      <ol>
        <%= render partial: 'payed_trip', collection: @payed_trips %>
      </ol>
    </div>
  </div>
</section>

<section class="container content-section">
  <div class="header-wrapper">
    <div class="row bottom-space">
      <h2>Final Trip</h2>
      <p>Below are trip who have been finalized. Thats means customer is coming.</p>
      <ol>
        <%= render partial: 'final_trip', collection: @final_trips %>
      </ol>
    </div>
  </div>
</section>
