<div>
<%= activity.name %>
<%= activity.id %>
<%= activity.descr %>
<%= activity.image %>
<%= link_to 'Delete', theme_activity_path(@theme, activity) ,method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
