<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @activity.descr %>
</p>

<p>
  <strong>Image:</strong>
  <%= @activity.image %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
